<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>SaaS</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="24">
    <form sheetIndex="10002" type="NUI" seq="2">Pricing</form>
    <form sheetIndex="10003" type="NUI" seq="3">Customers</form>
    <form sheetIndex="10004" type="NUI" seq="4">SaaS Registration</form>
  </forms>
</module>
