<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>婚禮籌備</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="27">
    <form sheetIndex="20001" type="NUI" seq="2">賓客規劃（預擬邀請名單）</form>
    <form sheetIndex="20002" type="NUI" seq="3">賓客總表（帖餅禮金出席意願全紀錄）</form>
    <form sheetIndex="20003" type="NUI" seq="4">賓客邀請函（線上調查出席意願）</form>
    <form sheetIndex="20004" type="NUI" seq="5">賓客桌次表</form>
    <form sheetIndex="20005" type="NUI" seq="1">工作人員聯絡簿</form>
    <form sheetIndex="20006" type="NUI" seq="6">長期籌備時程表</form>
    <form sheetIndex="20007" type="NUI" seq="7">長期待辦事項清單</form>
    <form sheetIndex="20008" type="NUI" seq="8">婚宴當日流程</form>
    <form sheetIndex="20009" type="NUI" seq="9">需要準備的物品</form>
    <form sheetIndex="20010" type="NUI" seq="10">採買評比清單</form>
  </forms>
</module>
