<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>活動管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="3">
    <form sheetIndex="20001" type="NUI" seq="3">場地資訊</form>
    <form sheetIndex="20003" type="NUI" seq="6">活動報名表</form>
    <form sheetIndex="20004" type="NUI" seq="7">個人資料表</form>
    <form sheetIndex="20005" type="NUI" seq="5">設備租借資訊</form>
    <form sheetIndex="20006" type="NUI" seq="4">活動預算</form>
    <form sheetIndex="20008" type="NUI" seq="8">活動收入</form>
    <form sheetIndex="20009" type="NUI" seq="1">活動資訊</form>
    <form sheetIndex="20010" type="NUI" seq="2">活動流程</form>
  </forms>
</module>
