<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>採購</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="13">
    <form sheetIndex="20001" type="NUI" seq="1">廠商</form>
    <form sheetIndex="20002" type="NUI" seq="4">請購單</form>
    <form sheetIndex="20003" type="NUI" seq="5">採購單</form>
    <form sheetIndex="20004" type="NUI" seq="2">採購商品</form>
    <form sheetIndex="20005" type="NUI" seq="3">商品廠商價格</form>
    <form sheetIndex="20006" type="NUI" seq="6">採購細項</form>
    <form sheetIndex="20007" type="NUI" seq="7">進貨單</form>
    <form sheetIndex="20008" type="NUI" seq="8">驗收作業</form>
    <form sheetIndex="20009" type="NUI" seq="9">郵遞區號</form>
  </forms>
</module>
