<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>財會系統（簡易版）</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="20">
    <form sheetIndex="20001" type="NUI" seq="8">員工薪資</form>
    <form sheetIndex="20003" type="NUI" seq="2">產品及服務</form>
    <form sheetIndex="20004" type="NUI" seq="1">客戶及供應商</form>
    <form sheetIndex="20005" type="NUI" seq="3">報價單</form>
    <form sheetIndex="20006" type="NUI" seq="5">採購單</form>
    <form sheetIndex="20007" type="NUI" seq="4">應收發票</form>
    <form sheetIndex="20008" type="NUI" seq="6">應付發票</form>
    <form sheetIndex="20009" type="NUI" seq="9">分錄帳</form>
    <form sheetIndex="20011" type="NUI" seq="11">傳票對應憑證明細</form>
    <form sheetIndex="20012" type="NUI" seq="10">分錄帳明細</form>
    <form sheetIndex="20013" type="NUI" seq="7">票據管理</form>
    <form sheetIndex="20014" type="NUI" seq="12">固定資產管理（會計用）</form>
    <form sheetIndex="20015" type="NUI" seq="13">會計科目</form>
  </forms>
</module>
