<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>長途旅遊規劃</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="45">
    <form sheetIndex="20001" type="NUI" seq="1">旅遊規劃表</form>
  </forms>
</module>
