<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>班費管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="48">
    <form sheetIndex="20001" type="NUI" seq="1">班級學生名單</form>
    <form sheetIndex="20002" type="NUI" seq="2">班費支出明細</form>
  </forms>
</module>
