<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>財會系統（整合進銷存）</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="18">
    <form sheetIndex="20003" type="NUI" seq="1">員工薪資</form>
    <form sheetIndex="20004" type="NUI" seq="2">產品應收發票</form>
    <form sheetIndex="20006" type="NUI" seq="4">物料應付發票</form>
    <form sheetIndex="20010" type="NUI" seq="3">其他應收發票</form>
    <form sheetIndex="20013" type="NUI" seq="10">固定資產管理（會計用）</form>
    <form sheetIndex="20014" type="NUI" seq="6">票據管理</form>
    <form sheetIndex="20015" type="NUI" seq="11">會計科目</form>
    <form sheetIndex="20008" type="NUI" seq="5">其他應付發票</form>
    <form sheetIndex="20016" type="NUI" seq="7">分錄帳</form>
    <form sheetIndex="20017" type="NUI" seq="8">分錄帳明細</form>
    <form sheetIndex="20018" type="NUI" seq="9">傳票對應憑證明細</form>
  </forms>
</module>
