<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Library Management</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="27">
    <form sheetIndex="10001" type="NUI" seq="1">Book Catalog</form>
    <form sheetIndex="10002" type="NUI" seq="2">Borrowing Card</form>
    <form sheetIndex="10003" type="NUI" seq="3">Members</form>
    <form sheetIndex="10004" type="NUI" seq="4">Book Reservation</form>
  </forms>
</module>
