.v5PageHeaderText{color:#333333 !important;}
.v5PageHeaderSubtext{color:#333333 !important;}
a:link.v5PageHeaderLink,a:visited.v5PageHeaderLink,a:active.v5PageHeaderLink,a:hover.v5PageHeaderLink,.v5PageHeaderLink{
color:#333333 !important;
}
.topButtonLink{color:#333333 !important;}
#entrycount{color:#333333 !important;}