.v5PageHeaderText{color:#fbfbfb !important;}
.v5PageHeaderSubtext{color:#fbfbfb !important;}
a:link.v5PageHeaderLink,a:visited.v5PageHeaderLink,a:active.v5PageHeaderLink,a:hover.v5PageHeaderLink,.v5PageHeaderLink{
color:#fbfbfb !important;
}
.topButtonLink{color:#fbfbfb !important;}
#entrycount{color:#fbfbfb !important;}