<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>系統</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="33">
    <form sheetIndex="20001" type="NUI" seq="1">使用者</form>
    <form sheetIndex="20002" type="NUI" seq="2">外部使用者</form>
    <form sheetIndex="20003" type="NUI" seq="3">資料庫存取申請</form>
  </forms>
</module>
