<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>抽籤小幫手</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="28">
    <form sheetIndex="20001" type="NUI" seq="1">抽籤小幫手</form>
    <form sheetIndex="20002" type="NUI" seq="2">抽籤名單（輔助表單，直接填表時用）</form>
  </forms>
</module>
