<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Accounting  (Integrate)</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="18">
    <form sheetIndex="10001" type="NUI" seq="5">Employee Payroll</form>
    <form sheetIndex="10002" type="NUI" seq="10">Account Titles</form>
    <form sheetIndex="10003" type="NUI" seq="1">Product Invoice</form>
    <form sheetIndex="10004" type="NUI" seq="9">Asset Management (Accounting)</form>
    <form sheetIndex="10006" type="NUI" seq="2">Other Invoice</form>
    <form sheetIndex="10007" type="NUI" seq="3">Material Bill</form>
    <form sheetIndex="10008" type="NUI" seq="4">Other Bill</form>
    <form sheetIndex="10009" type="NUI" seq="6">Journal Entry</form>
    <form sheetIndex="10010" type="NUI" seq="7">Voucher Detail</form>
    <form sheetIndex="10011" type="NUI" seq="8">Document Detail</form>
  </forms>
</module>
