<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>資訊</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="23">
    <form sheetIndex="20001" type="NUI" seq="1">IT使用者管理</form>
    <form sheetIndex="20003" type="NUI" seq="2">硬體設備管理</form>
    <form sheetIndex="20004" type="NUI" seq="3">軟體授權管理</form>
    <form sheetIndex="20005" type="NUI" seq="4">軟體配發列表</form>
    <form sheetIndex="20006" type="NUI" seq="5">IT需求申請單  </form>
    <form sheetIndex="20008" type="NUI" seq="6">IT需求派工單</form>
    <form sheetIndex="20009" type="NUI" seq="7">電腦機房廠商進出管制登記表</form>
    <form sheetIndex="20010" type="NUI" seq="8">機房每日巡檢表</form>
    <form sheetIndex="20011" type="NUI" seq="9">異常事件記錄表</form>
    <form sheetIndex="20012" type="NUI" seq="10">備份紀錄表</form>
    <form sheetIndex="20013" type="NUI" seq="11">災難還原演練記錄表</form>
    <form sheetIndex="20014" type="NUI" seq="12">帳號停用查核表</form>
    <form sheetIndex="20015" type="NUI" seq="13">帳號申請記錄表</form>
    <form sheetIndex="20016" type="NUI" seq="14">檔案管理權限申請表</form>
    <form sheetIndex="20017" type="NUI" seq="15">主機帳號清查記錄表</form>
    <form sheetIndex="20018" type="NUI" seq="16">修補程式管理</form>
  </forms>
</module>
