<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>餐點計畫</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="46">
    <form sheetIndex="20001" type="NUI" seq="1">食材</form>
    <form sheetIndex="20002" type="NUI" seq="2">食譜</form>
    <form sheetIndex="20003" type="NUI" seq="3">各食譜食材明細</form>
    <form sheetIndex="20004" type="NUI" seq="4">餐點計劃</form>
    <form sheetIndex="20005" type="NUI" seq="5">購物清單</form>
  </forms>
</module>
