<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Ragic System Config</name>
  <desc />
  <publisher />
  <createDate>2012/08/11</createDate>
  <updateDate>2012/08/11</updateDate>
  <version>1.0</version>
  <price>0</price>
  <delta>0</delta>
  <status>ONLINE</status>
  <sourcePath>/app/system/ragic-setup</sourcePath>
  <appId>AP-00037</appId>
  <forms seq="2">
    <form sheetIndex="1" type="NUI" seq="1" url="">Users|zh-TW=使用者</form>
    <form sheetIndex="2" type="NUI" seq="2" url="">Groups|zh-TW=群組</form>
    <form sheetIndex="3" type="NUI" seq="3" url="">Feature Access|zh-TW=功能權限設定</form>
    <form sheetIndex="4" type="NUI" seq="4" url="">Company Setting|zh-TW=公司設定</form>
    <form sheetIndex="5" type="NUI" seq="5" url="">Members|zh-TW=會員</form>
  </forms>
</module>

