<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Accounting (Lite)</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="20">
    <form sheetIndex="10002" type="NUI" seq="7">Employee Payroll</form>
    <form sheetIndex="10003" type="NUI" seq="1">Products and Services</form>
    <form sheetIndex="10004" type="NUI" seq="2">Clients and Suppliers</form>
    <form sheetIndex="10006" type="NUI" seq="3">Quotes</form>
    <form sheetIndex="10007" type="NUI" seq="5">Purchase Orders</form>
    <form sheetIndex="10008" type="NUI" seq="4">Invoices</form>
    <form sheetIndex="10009" type="NUI" seq="12">Account Titles</form>
    <form sheetIndex="10010" type="NUI" seq="6">Bills</form>
    <form sheetIndex="10011" type="NUI" seq="8">Journal Entries</form>
    <form sheetIndex="10012" type="NUI" seq="9">Voucher Detail</form>
    <form sheetIndex="10013" type="NUI" seq="10">Document Details</form>
    <form sheetIndex="10014" type="NUI" seq="11">Asset Management (Accounting)</form>
  </forms>
</module>
