<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Booking System (For Internal &amp; External Users only)</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="29">
    <form sheetIndex="10001" type="NUI" seq="1">Venues</form>
    <form sheetIndex="10002" type="NUI" seq="2">Booking Details</form>
  </forms>
</module>
