<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Meal Planning</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="32">
    <form sheetIndex="10001" type="NUI" seq="1">Ingredients</form>
    <form sheetIndex="10002" type="NUI" seq="2">Recipe</form>
    <form sheetIndex="10003" type="NUI" seq="3">Ingredients Details</form>
    <form sheetIndex="10004" type="NUI" seq="4">Meal Planning</form>
    <form sheetIndex="10005" type="NUI" seq="5">Shopping List</form>
  </forms>
</module>
