<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Subscription Tracker</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="23">
    <form sheetIndex="10001" type="NUI" seq="1">Subscription/Membership Tracker</form>
  </forms>
</module>

