<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>社區管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="22">
    <form sheetIndex="20001" type="NUI" seq="1">戶號資訊</form>
    <form sheetIndex="20002" type="NUI" seq="2">住戶詳細資訊</form>
    <form sheetIndex="20003" type="NUI" seq="5">公告系統</form>
    <form sheetIndex="20004" type="NUI" seq="3">公共設施清單</form>
    <form sheetIndex="20005" type="NUI" seq="6">場地租借單</form>
    <form sheetIndex="20006" type="NUI" seq="7">代收代付單</form>
    <form sheetIndex="20007" type="NUI" seq="8">公共設施報修單</form>
    <form sheetIndex="20008" type="NUI" seq="4">廠商資訊</form>
    <form sheetIndex="20009" type="NUI" seq="9">掛號包裹收發</form>
    <form sheetIndex="20010" type="NUI" seq="10">場地租借明細</form>
    <form sheetIndex="20011" type="NUI" seq="11">管理費繳費單</form>
  </forms>
</module>
