h3 {
    color: #393939;
}
.divTable {
    display:table;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.divRow {
    display:table-row;
}
.divCell {
    display:table-cell;
    padding: 8px;
    vertical-align: top;
}
.divRow label{
    margin-right: 10px;
}
.reserve-setting{
    background-color: #e6e6e6;
    padding: 20px;
    /*border-top: 2px solid grey;*/
    display: none;
    box-shadow: 0px 5px 10px -7px grey;
}
.display{
    display: block;
}
.timeSection{
    padding-bottom: 5px;
    display: inline-block;
    width: 210px;
}
.timeSection select{
    max-height: 200px;
    padding: 5px 10px;
}
.timeSection.showError select.showError, .timeSection.showError select.showError:focus{
    border: 1.5px solid red !important;
}
.timeSection.showError .availableTimes-error{
    visibility: visible;
}
.availableTimes-error{
    display: block;
    color: #ff4747;
    font-weight: bold;
    font-size: 12px;
    visibility: hidden;
    margin: 2px;
    width: 100%;
}
.timeSectionContainer{
    display: flex;
}
.datePickerRagic{
    position: relative !important;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    z-index: 0;
    box-shadow: 0px 5px 15px -10px grey;
    background-color: white;
}
.ymheaderTable{
    font-size: 16px;
    margin: 20px;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;
    width: fill-available;
}
.ymheaderTable td, .calTable td{
    color: black;
}
.btn-primary{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-weight: 700;
}
.btn-primary:hover{
    background-color: #eeeeee;
    color: #2f2f2f;
}
.cannotSelect{
    color: rgba(203, 203, 203, 0.8) !important;
}
td:not(.available):not(.fullUnAvailable):hover,
.cannotSelect:hover {
    background-color: initial !important;
}
.calTable{
    border-collapse: separate;
    table-layout: auto;
    border-spacing: 5px;
}
.calTable td{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}
span{
    user-select: none;
}
td.available{
    color: #2b7bf6;
    font-weight: bold;
    background-color: #c9ebff;
}
td.available:hover{
    background-color: #9ce9ff;
}
td.fullUnAvailable{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #909090;
}
td.fullUnAvailable:hover{
    background-color: #656565;
}
td.focusDate{
    /*background-color: #358ffc;*/
    border: 5px solid #365deb !important;
    /*color: white;*/
}
/*td.focusDate:hover{*/
/*    background-color: #358ffc;*/
/*    color: white;*/
/*}*/
#reservationChart{
    display: flex;
}
#reservationTimePicker{
    padding: 10px 50px;
}
/*#reserveSchedule, #bookingSchedule{*/
/*    max-height: 520px;*/
/*    overflow-y: auto;*/
/*}*/

#reserveSchedule{
    display: flex;
    padding: 20px 0;
    /*width: 1200px;*/
    flex-wrap: nowrap;
}
#bookingSchedule{
    padding: 20px 0;
    width: 800px;
}
/*#reserveSchedule > div, #bookingSchedule > div{*/
/*    flex: 1;*/
/*}*/
#reserveSchedule > div:not(:last-child), #bookingSchedule > div:not(:last-child){
    margin-right: 20px;
}
#reserveSchedule > div > div{
    height: 50px;
    box-sizing: border-box;
}
.timeBlock{
    white-space: nowrap;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: 2px solid lightgrey;
    color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    position: relative;
    background-color: #FFFFFF;
}
.timeBlock.cannotView {
    background-color: #dcdcdc !important;
}
.timeBlock:not(.reserved){
    font-weight: 600;
}
.timeBlock span{
    font-weight: 600;
    display: inline-block;
}
div#reserveSchedule .timeBlock:not(.reserved):not(.bookedStart):hover{
    background-color: #eeeeee;
    border-color: #686868;
}
.timeBlock.bookingMouseOver{
    background-color: #eeeeee;
}
.reserved{
    color: white;
}
.bookedStart, .bookedEnd, .bookedInterval{
    background-color: #6ec0f8;
    color: white;
}
.bookedStartSelf, .bookedEndSelf, .bookedIntervalSelf{
    background-color: #fc6868;
    color: white;
}
.loadingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    display: flex;
    justify-content: center;
}
.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #61adff;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}
@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
#timeBlock-preview{
    margin-left: 50px;
    padding: 15px;
}
#customIncrements{
    margin: 5px 0;
}
#customIncrements * {
    height: 25px;
}
.customWeekDays, .specificDaysTimes{
    font-size: 13px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.specificDaysTimes{
    cursor: pointer;
}
.specificDaysTimes:hover{
    background-color: #e7e7e7;
}
.collapse{
    border-collapse: collapse;
}
.add, .copy{
    display:inline;
    cursor:pointer;
    margin-right: 10px;
}
.copy{
    font-size: 16px;
    color: #9c9c9c;
}
.copy:hover{
    color: #242424;
}
#customAvailableTimes{
    display: flex;
}
#customAvailableTimes > div{
    margin-right: 50px;
    background-color:#FFFFFF;
    padding: 20px 40px;
}
.customTime > div{
    min-height: 55px;
    display: none;
}
.customTime.available > div:first-of-type{
    display: block;
}
.customTime.unavailable > div:nth-of-type(2){
    display: block;
}
#specificTimesDiv{
    width: 427px;
    /*padding: 30px 30px 15px 30px;*/
    box-sizing: border-box;
    /*margin-top: -10px;*/
    background-color: #FFFFFF;
    display: block;
}
.removeTimes{
    display: inline;
    cursor:pointer;
    margin:10px;
}
.specificDaysTimes .timeSectionContainer{
    margin: 0 0 10px 0;
}
.specificDaysTimes > div:first-of-type{
    min-width: 120px;
}
.specificDaysTimes .removeTimes{
    padding: 10px;
    width: 15px;
    height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor:pointer;
    margin:10px;
}
.specificDaysTimes .removeTimes:hover{
    background-color: white;
}
#copyAvailableDays{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    padding: 10px 0px;
    box-shadow: 0px 5px 15px -2px #b7b7b7;
    border-radius: 5px;
    user-select: none;
    z-index: 999;
}
#copyAvailableDays > div{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
#copyAvailableDays > *{
    padding: 10px 20px;
    margin: 0;
}
#copyAvailableDays > div,  #copyAvailableDays > div * {
    cursor: pointer;
}
#copyAvailableDays > div[data-day]:hover{
    background-color: #e5e5e5;
}
#copyAvailableDays label {
    width: 100%;
}
#bookingUI{
    padding: 10px 10px 20px 10px;
    box-shadow: 0px 10px 18px -10px #464646, 0px -10px 40px -30px #b5b5b5;;
    border-radius: 10px;
    border: 1px solid lightgrey;
    /*height: 490px;*/
    box-sizing: border-box;
}
div.eCheck{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: #ee5858;
    padding: 3px 12px;
    border-radius: 3px;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#reserve_email.emailCheckError div.eCheck{
    opacity: 1;
}
#reserve_email.emailCheckError input{
    border-color: #ee5858;
}
#reserve_email input{
    border: 2px solid #eee;
    text-indent: 5px;
}
#reserve_emailPrompt{
    color: #ee5858;
    font-weight: 600;
}
.colorInfoContainer {
    padding: 5px;
    flex: 1;
    display: flex;
    align-items: center;
}
.colorInfoContainer > span{
    font-size: 13px;
    font-weight: 600;
    color: #828282;
}
.colorInfo {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 12px;
}
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
/*::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 5px grey;*/
/*    border-radius: 10px;*/
/*}*/

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 30px;
}
#lightBox-mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    /*height: -webkit-fill-available;*/
    /*height: -moz-fill-available;*/
    /*height: -moz-available;    !* FireFox目前这个生效 *!*/
    /*height: fill-available;*/
    top: 0;
    left: 0;
    pointer-events: none;
}
#reserveInfo {
    padding-left: 10px;
}
#reserveInfo select,
#reserveInfo input,
#reserveInfo textarea {
    border: 2px solid #dbdbdb;
}
.closeReserve {
    text-align: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.2s;
    font-size: 16px;
    border-radius: 100%;
    cursor: pointer;
}
.closeReserve:hover {
    background-color: rgba(218, 218, 218, 0.34);
}
.thebuttonContainer {
    width: 427px;
    padding: 10px 0;
}

/*
    ####################################
    #           specific date          #
    ####################################
 */

#specificDates {
    width: 25vw;
}

#specificDatesBody {
    margin-top: 10px;
    max-height: 726px;
    overflow-y: auto;
}

#specificDateTimeArea {
    max-height: 500px;
    overflow-y: auto;
}

#floatingWinContent #specificTimesDiv label.label-margin {
    margin: 0px 10px 0 5px;
}

input[type=radio].checked+label{
    font-weight: bolder;
    color: #2e5cb4;
}
input[type=radio]+label{
    font-weight: 400;
}
.unavailableText {
    display: inline-block;
    margin-top: 10px;
    color: #b1b1b1;
}
.datePickerInfoText {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #828282;
}

#customWeekTimes,
#specificDates,
#specificTimesDiv,
.datePickerRagic,
.reserve-setting,
.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
                rgba(0, 0, 0, 0.12) 0px 1px 5px 0px !important;
}