<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>遠端工作</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="39">
    <form sheetIndex="20001" type="NUI" seq="2">打卡單</form>
    <form sheetIndex="20002" type="NUI" seq="1">員工通訊錄</form>
    <form sheetIndex="20003" type="NUI" seq="4">線上會議紀錄</form>
    <form sheetIndex="20005" type="NUI" seq="3">遠端工作回報</form>
    <form sheetIndex="20006" type="NUI" seq="5">公告系統</form>
  </forms>
</module>
