<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>專案管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="6">
    <form sheetIndex="20001" type="NUI" seq="1">會議記錄</form>
    <form sheetIndex="20002" type="NUI" seq="2">工作進度報告</form>
  </forms>
</module>
