<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Marketing</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="4">
    <form sheetIndex="10003" type="NUI" seq="1">Lead Management</form>
  </forms>
</module>

