@font-face {
    font-family: 'Open Sans';
    src: url('/sims/css/opensans/OpenSans-Light.eot');                                    /* IE Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/sims/css/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE */ url('/sims/css/opensans/OpenSans-Light.woff') format('woff'), /* Modern Browsers */ url('/sims/css/opensans/OpenSans-Light.ttf') format('truetype');                /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/sims/css/opensans/OpenSans-Regular.eot');                                    /* IE Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/sims/css/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE */ url('/sims/css/opensans/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */ url('/sims/css/opensans/OpenSans-Regular.ttf') format('truetype');                /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'Open Sans';
    src: url('/sims/css/opensans/OpenSans-Semibold.eot');
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('/sims/css/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/sims/css/opensans/OpenSans-Semibold.woff') format('woff'),
    url('/sims/css/opensans/OpenSans-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/sims/css/opensans/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('/sims/css/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/sims/css/opensans/OpenSans-Bold.woff') format('woff'),
    url('/sims/css/opensans/OpenSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/sims/css/opensans/OpenSans-ExtraBold.eot');
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
    url('/sims/css/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/sims/css/opensans/OpenSans-ExtraBold.woff') format('woff'),
    url('/sims/css/opensans/OpenSans-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}
/*
 * default
 */
html {
    font-size: medium;
    scroll-behavior: smooth;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, select, textarea, p, blockquote {
    font-family: "Open Sans", "Noto Sans CJK TC", "Noto Sans CJK SC", "Noto Sans CJK JP", "Noto Sans CJK KR", "Lucida Grande", Tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

A:link,
A:visited,
A:hover,
A:active {
    text-decoration: none;
    color: #008dff;
    word-wrap: break-word;
}

A:hover {
    text-decoration: underline;
}

label[for] {
    display: flex;
    align-items: center;
}

.optionValue {
    line-height: 1.25rem;
    margin: 4px;
}

input {
    border: 1px solid #cccccc;
}

:focus {
    outline-color: #0088cc;
}

/*
 * help skin
 */
.help {
    font-size: 1rem;
    cursor: help;
}

/*
 * Tooltip
 */
#webFormTooltips {
    position: absolute;
    background-color: #333333;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 10px;
    min-width: 30px;
    max-width: 300px;
    z-index: 300;
}

#webFormTooltipsText {
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #dbdbdb;
}

/*
 * FloatWin
 */
.floatingWin {
    position: fixed;
    width: 90%;
    max-width: 400px;
    z-index: 260;
}

.floatingWinHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #b9b9b9;
    box-shadow: 0 0 10px 2px #b4b4b4;
    color: #555555;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    cursor: default;
    box-sizing: border-box;
    padding: 3px 10px;
    min-height: 20px;
}

#floatingWinHeader {
    display: inline-block;
    color: #ffffff;
}

.close {
    color: #ffffff;
    cursor: pointer;
}

.close:hover {
    opacity: 0.8;
}

.floatingWinContent {
    padding: 20px;
    background: #f1f1f1;
    box-shadow: 0 3px 10px 3px #b4b4b4;
    border-radius: 0 0 5px 5px;
    border: 1px solid #bbbbbb;
}

.floatingWinOK {
    padding: 0;
    margin: 0;
}

/*
 * web form skin
 */
.lineSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formTitle {
    width: 90%;
    max-width: 31.25rem; /* 16 * 31.25 = 500 */
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    padding: 0 10px;
    font-weight: 800;
    overflow-wrap: break-word;
}

.formDesc {
    width: 100%;
    max-width: 31.25rem; /* 16 * 31.25 = 500 */
    text-align: center;
    color: #333;
}

.webformFreeValue {
    width: 100%;
    max-width: 31.25rem; /* 16 * 31.25 = 500 */
    padding: 0 10px;
    white-space: pre-line;
    box-sizing: border-box;
}

.webformFreeValue img {
    width: 100%;
}

.webFormWidget {
    margin: 5px 0;
    width: 100%;
    max-width: 31.25rem; /* 16 * 31.25 = 500 */
}

.webFormWidget[hide] {
    display: none;
}

.webformSettingConfWrapper {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.webformSettingConf {
    margin: 0 10px;
    color: #0088cc;
    cursor: pointer;
}

.webformSettingConf:hover {
    background-color: #e0e0e0;
}

.wvConfigSelectionDisplayType:hover,
.webformSettingConf:hover {
    background-color: #e0e0e0;
}

.wvConfigSelectionDisplayType {
    color: #0088cc;
    cursor: pointer;
    border: none;
    outline: none;
    appearance: none;
}

.webFormfieldValue {
    width: 100%;
    max-width: 31.25rem; /* 16 * 31.25 = 500 */
    padding: 3px 10px 0 10px;
    white-space: pre-line;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.webFormfieldInput {
    margin: 0 10px 6px 10px;
    white-space: nowrap;
}

.webFormSelection {
    margin: 0 10px 6px 10px;
    box-sizing: border-box;
}

.webFormAGDiv {
    padding: 5px;
    height: 30px;
    line-height: 20px;
    box-sizing: border-box;
}

.lineSection .fieldDataWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.fieldData {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    color: inherit;
    background-color: inherit;
}

.RTEField {
    border: 1px solid #cccccc;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
}

#webFormSigCanvas {
    background: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#webFormSigBackgroundDiv {
    display: none;
    margin-top: 5px;
}

#webFormSigBackgroundDiv i {
    margin-left: 15px;
    cursor: pointer;
}

.sigContent {
    display: inline-block;
}


/*
 *  For web view
 */
#query_result {
    padding: 0 50px;
}

#viewSelector {
    display: block;
    outline: none;
    border-radius: 2px;
    margin: 20px auto;
    cursor: pointer;
}

.block-container > #viewSelector {
    margin: 20px auto 10px auto;
}

.pageNum {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f6f6f6;
    border: 1px solid #c8d5e0;
    padding: 5px 6px;
    text-decoration: none;
    color: #0066CC;
}

.pageNumNow {
    background-color: #ffffff;
}

.webviewPaging {
    padding: 10px;
}

.wvpic {
    width: 100%;
    max-width: 160px;
    max-height: 160px;
}

.wvitem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
 * For web view TABLE
 */
.table-layout {
    overflow: auto;
    margin-top: 50px;
}

.wvtable {
    margin: auto;
    border-spacing: 0;
}

.wvtable th,
.wvtable td {
    padding: 4px 10px;
}

.wvtable th:first-child {
    border-top-left-radius: 10px;
}

.wvtable th:last-child {
    border-top-right-radius: 10px;
}

.wvtable th {
    border-bottom: 2px solid #999999;
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
}

.wvtable td {
    border-bottom: 1px solid #e1e1e1;
}

.wvtablerow:hover,
.totalCell {
    background: #f0f0f0;
}

.cell {
    cursor:pointer;
}

.field-header {
    text-align: left;
    color: #333333;
}

.field-header:hover {
    color: #0088CC;
}

.field-value {
    display: block;
    width: 133px;
}

.field-value:hover {
    text-decoration: underline;
}

.wvanchor {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileLink {
    display: block;
}

.multiIcon {
    top: 4px;
    right: 4px;
    color: white;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));
}

/*
 * For web view BLOGGY
 */
.block-container {
    margin: auto;
    max-width: 600px;
    width: 100%;
    overflow: auto;
}

.webviewItem {
    border-bottom: 1px solid #efefef;
    padding: 10px;
}

.webviewItem:hover {
    background-color: #efefef;
}

.webviewTitle {
    padding: 0 10px;
}

.webviewTitle > a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.webviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.webviewDate,
.webviewUser,
.webviewCategory {
    box-sizing: border-box;
    width: 33%;
    color: #333333;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.webviewUser {
    text-align: center;
}

.webviewCategory {
    text-align: right;
}

.webviewContent {
    box-sizing: border-box;
    color: #333333;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * For web album
 */
.album-container {
    margin: auto;
    padding: 50px 0;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.album-cell {
    width: 162px;
    margin-bottom: 20px;
}

/*
 *  For web query
 */
#upperRow {
    margin: 50px auto;
    background-color: #F8F8F8;
    padding: 10px;
    max-width: 900px;
}

#v6QueryItemBar {
    max-width: 800px;
    margin: 10px auto;
}

#v6QueryTable {
    border-collapse: collapse;
    width: 100%;
}

.v6QueryItemInput {
    width: 221px;
    padding: 5px 0;
    position: relative;
}

.v6QueryTextbox:focus + .queryAutoCompleteList {
    display: block;
}

.queryAutoCompleteList {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: inset 0 0 0 1px #efefef;
    background-color: #ffffff;
    max-height: 100px;
    overflow-y: scroll;
    z-index: 1;
}

.queryAutoCompleteOption {
    padding: 5px;
}

.queryAutoCompleteOption:hover {
    background-color: #efefef;
}

.subtableHeader {
    border-top: 2px solid black;
}

.v6QueryItemName {
    text-align: right;
    width: 125px;
    padding-right: 1rem;
    box-sizing: border-box;
}

.v6QueryTextbox {
    width: 221px;
    height: 30px;
    box-sizing: border-box;
}

input.fieldData {
    padding: 5px;
}

#listingFieldSelectorTable td {
    padding: 8px;
}

#listingFieldSelectorTable select {
    width: 200px;
}

#listingFieldSelectorTable option {
    padding: 3px 8px 3px 8px;
}

.v6QueryItem-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.v6QueryItem-wrapper.quickSettings {
    justify-content: left;
}

.v6QueryNumber {
    width: 85px;
    height: 30px;
    box-sizing: border-box;
}

.v6QueryDatebox {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}

.userFilter,
.dateFilter {
    color: #0077cc;
    cursor: pointer;
}

.xdateInput {
    width: 40px;
    outline: none;
}

#ragic_iframe {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#moreLink {
    margin: 5px 25px 0 180px;
    text-align: left;
}

#ragic_searchbutton {
    margin: 5px auto;
    box-sizing: border-box;
}

.specialSetter-btn {
    cursor: pointer;
    color: #0077CC;
    font-size: .75rem;
}

.special-wrapper {
    width: 100%;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#v6QueryTable tbody tr {
    display: inline-block;
    width: 50%;
    min-height: 60px;
}

.v6QueryTextOption {
    display: none;
    position: absolute;
    margin-top: 3px;
    margin-bottom: 2px;
}

.v6QueryTextLabel {
    display: none;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 2px;
    cursor: pointer;
    color: #333333;
    font-size: 1rem;
}

.userFilter,
.dateFilter {
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
}

#settingOpener {
    margin: 5px 25px 0 180px;
}

#settingClicker {
    font-size: 1rem;
    cursor: pointer;
    color: rgb(0, 119, 204);
}

#settings {
    transition: all 0.7s ease-in-out;
}

.noneActive {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.active {
    max-height: 9999px;
    opacity: 1;
}

.thebutton4:visited,
.thebutton4:hover,
.thebutton4:active,
.thebutton4:link {
    text-decoration: none;
    cursor: pointer;
}

.thebutton4 {
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bbbbbb;
    display: inline-block;
    color: #777777;
    font-family: arial, serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
}

.thebutton4:hover {
    background-color: #dfdfdf;
}

/*
* Custom selection
*/
.checkboxSelectionContainer ,
.singleSelectionContainer,
.multiSelectionContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
}

.barSelect.show > .barSelect-selection,
select:focus + .singleSelectionContainer .barSelect-selection,
select:focus + .multiSelectionContainer .barSelect-selection,
select:focus + .checkboxSelectionContainer .checkboxSelect{
    border-color: #0088cc;
}

/*
 * Custom multiple selection
 */
.multiComboBox {
    position: relative;
    box-sizing: border-box;
    color: #566076;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
}

td .multiComboBox {
    width: 221px;
}

.multiComboBox :before,
.multiComboBox :after {
    box-sizing: border-box;
    font-family: 'Font Awesome\ 5 Pro';
    font-weight: 900;
    font-style: normal;
    text-align: center;
    cursor: default;
}

.multiComboSelectedDiv {
    padding: 2px 32px 2px 6px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.multiComboSelectedDiv:after {
    content: '\f0d7';
    position: absolute;
    background-color: #efefef;
    border: 1px solid #cccccc;
    right: 0;
    top: 0;
    width: 26px;
    height: 100%;
    line-height: 28px;
}

.multiCombo_drop_show .multiComboSelectedDiv:after {
    content: '\f0d8';
}

.multiComboBox ul {
    display: none;
    border: 1px solid #e6e6e6;
    width: auto;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
    position: absolute;
    border-top: none;
    box-shadow: 0 0 5px -1px #b3b3b3;
    z-index: 2;
    overflow-y: auto;
}

.multiComboBox.multiCombo_drop_show ul {
    display: block;
}

.multiComboBox li {
    padding: 1px 6px 1px 30px;
    cursor: default;
    white-space: pre;
}

.multiComboBox li[data-nooption] {
    padding: 0 6px;
}

.multiComboBox li:not([data-nooption]):not(.multiComboFilterContainer):before {
    content: "\f0c8";
    position: absolute;
    left: 0;
    width: 26px;
    font-weight: 200;
    color: #777777;
}

.multiComboBox li:hover {
    background-color: #efefef;
}

.multiComboBox li.multiComboSelected:not([data-nooption]):before {
    content: "\f14a";
    font-weight: 700;
    color: #0675ff;
}

.multiComboValue {
    position: relative;
    white-space: nowrap;
    background-color: #b9b9b9;
    border-radius: 10px;
    line-height: 150%;
    margin: 0 2px;
    padding: 0 5px;
    color: #373737;
    display: inline-block;
    transition: all 50ms ease-in;
    cursor: pointer;
}

.multiComboValue:hover {
    background-color: inherit;
    color: #b3b3b3;
    border-color: #ffffff;
}

.multiComboValue::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 0;
    border-top: 1px solid #000000;
    transition: all 200ms ease-in;
}

.multiComboValue:hover::after {
    left: 5px;
    width: calc(100% - 10px);
}

.multiComboFormElementDiv {
    display: none;
}

li.multiComboFilterContainer {
    padding: 5px;
}

.multiComboFilterInput {
    padding: 0 5px;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.multiComboFilterContainer {
    margin: 5px auto;
}

.multiComboFilterIcon {
    padding: 5px;
    margin-left: -34px;
}

.radioFieldSet,
.checkboxFieldSet {
    border: none;
    height: auto;
}

/*
 * UploadField
 */
.uploadField {
    box-sizing: border-box;
    padding-right: 5px;
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.uploadField-preview {
    display: flex;
    flex-wrap: wrap;
}

.uploadField-preview.isGraphic {

}

.uploadField-upload {
    cursor: pointer;
    color: #0088cc;
}

.fileAgent {
    margin: 0;
    border: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.fileAgent:focus+i {
    border: 1px solid red;
}

.exceedMaxSizeFile {
    margin: 10px 0;
    width: 90%;
    display: flex;
    background-color: white;
    padding: 10px;
}

/*
 * form
 */
.uploadIcon {
    cursor: pointer;
    color: #0088CC;
    font-weight: bold;
    font-size: .9rem;
}

.filePreviewWrapper {
    display: flex;
}

.filePreviewWrapper.flexWrap {
    flex-wrap: wrap;
    padding-top: 3px;
}

.imgDiv {
    position: relative;
    display: flex;
    margin: 4px;
    max-height: 162px;
}

.imgDiv:hover {
    background-color: #efefef;
}

.fileField {
    display: none;
}

.fileMode {
    display: flex;
    align-items: center;
}

.fileName {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgPreview {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    max-width: 100%;
    max-height: 120px;
}

.delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #dddddd;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.imgDiv:hover .delete {
    display: block;
}

select.checkboxSelection,
select.singleSelection,
select.multiSelection {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.fieldDataWrapper.readonly {
    pointer-events: none;
}

.fieldDataWrapper.readonly .fieldData,
.fieldDataWrapper.readonly .barSelect-selection,
.fieldDataWrapper.readonly .uploadField,
.fieldDataWrapper.readonly .sigDiv {
    background-color: #e8e8e8;
}

.webFormSelection .multiComboBox {
    white-space: normal;
}

#banner {
    width: 100%;
    height: 278px;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 700px;
    width: 90vw;
    margin: -100px auto 0 auto;
    background-color: #ffffff;
    border-top: 8px solid #ffffff;
    padding: 34px 0;
    box-shadow: 0 3px 5px 1px #afafaf;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subController {
    position: absolute;
    z-index: 1;
    pointer-events: auto;
}

.subController > div {
    background: none;
    color: #0088cc;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    position:absolute;
    height: 30px;
}

.subController > button:focus {
    border: 1px solid #0088cc;
}

.subController img {
    width: 17px;
}

.subTable {
    display: flex;
    width: 90%;
    max-width: 31.25rem; /* 16 * 31.25 = 500 */
    margin: auto;
    box-sizing: border-box;
    overflow-x: scroll;
}

.subTable > .webFormWidget {
    min-width: 150px;
    padding-bottom: 15px;
}

.subTable .webFormfieldValue {
    padding-bottom: 2px;
}

#wForm.pageMode section:not(.pageMode) {
    display: none;
}

.subTable.pageMode {
    width: 90%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.subTable.pageMode .webFormSelection:not(.pageMode),
.subTable.pageMode .webFormfieldInput:not(.pageMode),
.subTable.pageMode .subController {
    display: none;
}

.backDiv {
    display: none;
    cursor: pointer;
    text-align: center;
    height: 40px;
    background-color: #b9b9b9;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 10px;
    box-sizing: border-box;
}

.pageMode .backDiv {
    display: flex;
    align-items: center;
}

/*
 * upload setting
 */
[imgheader] .webFormfieldValue {
    display: none;
}

/*
 * date picker skin
 */
.datePickerRagic {
    position: absolute;
    background: #333333;
    z-index: 900;
}

.timeDiv {
    float: right;
    padding: 8px 15px;
}

.dateTableContainer {
    float: left;
}

.ymheaderTable div span {
    color: #efefef;
    font-size: 1rem;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

.ymheaderTable select {
    font-size: .75rem;
    background-color: #f0f0f0;
}

.ymheaderTable {
    margin: 10px 10px 10px 10px;
    border-collapse: collapse;
}

.ymheaderTable td {
    height: 20px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: #cccccc;
}

.calTable {
    margin: 10px 10px 10px 10px;
    table-layout: fixed;
    border-collapse: collapse;
}

.calTable td {
    height: 20px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: #cccccc;
}

.calTable td.notThisMonth {
    color: #999999;
}

.calTable td[value]:hover {
    background-color: #555555;
}

.timeSel {
    font-size: 1rem;
    background: #f8f8f8;
}

.clockin {
    color: #fefefe;
    margin: 18px 25px 18px 25px;
}

.clockinButton {
    background: #DD0000;
    color: #efefef;
    margin: 18px 25px 18px 25px;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #FF0000;
}

/*
 * login page
 */
.login-form {
    margin: 100px auto;
    padding: 40px;
    max-width: 450px;
    width: 90%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 #b3b3b3;
    box-sizing: border-box;
}

.inputTitle {
    color: #b3b3b3;
    display: block;
}

.inputTitle:focus-within {
    color: #707070;
}

.bigInput {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    color: #b3b3b3;
}

.bigInput:focus {
    outline: none;
    color: #707070;
    border-color: #707070;
}

.login-btn-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.login-btn {
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
    width: 40%;
    text-align: center;
}

.login-btn:hover {
    opacity: .9;
}

/*
 *  General
 */
#loginStatus {
    position: absolute;
    padding: 0 5px;
    top: 0;
    right: 0;
    font-size: .75rem;
}

#loginStatus > a {
    color: #aaaaaa;
}

.powerby {
    font-size: 0.75rem;
    margin: 40px auto;
    width: auto;
    color: #b9b9b9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.powerby > a {
    color: #b9b9b9;
}

.powerby > a:hover {
    color: #d50e0e;
    text-decoration: none;
}

.powerby img {
    width: 70px;
}

.topButtonWhole {
    background-color: #b9b9b9;
}

.btn {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    min-width: 80px;
    height: 40px;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn-red {
    background-color: #f27079;
}

.btn-gray {
    background-color: #808080;
}

#getAddressButton,
input.topButtonWhole,
.webFormButton {
    font-size: 16px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: #ffffff;
    border: 2px transparent solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.webFormButton:focus {
    border-color: #0088cc;
}

.dropdown {
    position: absolute;
    background-color: #F7F7F7;
    padding: 5px;
    border: 1px solid #888888;
    -webkit-box-shadow: 0 4px 10px #8B8B8B;
    -moz-box-shadow: 0 4px 10px #8B8B8B;
    box-shadow: 0 4px 10px #8B8B8B;
    z-index: 250;
    _width: 12em;
}

.result-bar {
    position: relative;
    outline: 0;
    border: 0;
    color: #000000;
    text-align: center;
    opacity: .5;
}

.result-bar:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.result-bar:after {
    content: "Result";
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #ffffff;
}

/*
 * RWD
 */
@media (max-width: 760px) {
    #banner {
        height: 122px;
    }

    .container {
        margin: -50px auto 0 auto;
    }

    .powerby {
        margin: 10px auto;
    }

    #v6QueryTable tbody tr {
        display: block;
        width: auto;
        box-sizing: border-box;
    }

    #query_result {
        padding: 0 10px;
    }

    #upperRow {
        margin: 0;
    }

    .result-bar {
        margin: 20px 0;
    }
}

/*
 * loading animation
 * https://loading.io/css/
 */
.lds-ellipsis {
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #ffc0c2;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 .6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 .6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 .6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 .6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.signatureBlock {
    position: relative;
}

.clearSignatureIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
}

#webFormSignatureWin {
    max-width: 550px;
}

#webFormSignatureWin .buttonContainer {
    margin-top: 9px;
}

/*
 * mvp win
 */

#webFormMVPWin {
    max-width: 800px;
    top: 15px;
    left: 25px;
}

#webFormMVPWin > .floatingWinContent {
    background-color: #ffffff;
    overflow: scroll;
    max-height: 600px;
}

.optionSelectedDiv.load {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    padding: 0;
    width: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
 * barSelect
 */
.barSelect {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    min-width: 100px;
}

.webFormWidget[mvpmode] .barSelect {
    pointer-events: none;
}

.barSelect.load:before {
    position: absolute;
    content: 'loading...';
    padding: 3px;
}

.barSelect-selection {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    background-color: #ffffff;
}

.selection-icon {
    border-color: #888888 transparent transparent transparent;
    border-width: 5px 4px 0 4px;
    border-style: solid;
}

.show .selection-icon {
    border-color: transparent transparent #888888 transparent;
    border-width: 0 4px 5px 4px;
}

.barSelect-selection-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.barSelect-multiple .barSelect-selection-value {
    white-space: initial;
}

.barSelect-selection-value-span {
    position: relative;
    white-space: nowrap;
    background-color: #b9b9b9;
    border-radius: 10px;
    margin: 2px;
    padding: 0 5px;
    color: #373737;
    display: inline-block;
    transition: all 50ms ease-in;
    cursor: pointer;
}

.barSelect-selection-value-span:hover {
    background-color: inherit;
    color: #b3b3b3;
    border-color: #ffffff;
}

.barSelect-selection-value-span::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 0;
    border-top: 1px solid #000000;
    transition: all 200ms ease-in;
}

.barSelect-selection-value-span:hover::after {
    left: 5px;
    width: calc(100% - 10px);
}

.barSelect-dropDown {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 5px;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    overflow-y: scroll;
    max-height: 175px;
}

.show > .barSelect-dropDown {
    display: block;
    border: 1px solid #aaaaaa;
}

.barSelect-search-wrapper {
    box-sizing: border-box;
}

.barSelect-search {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 34px;
}

.barSelect-options {
    box-sizing: border-box;
    width: 100%;
    list-style: none;
}

.barSelect-group {
    display: block;
    padding: 5px;
    cursor: default;
}

.barSelect-option[data-role="option"] {
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    min-height: 34px;
}

.barSelect-option[data-disabled="true"] {
    color: #aaaaaa;
    cursor: default;
}

.barSelect-option .barSelect-option {
    padding-left: 15px;
}

.barSelect-option[data-role="option"].focus {
    background-color: #AACFFF;
}

.barSelect-option[data-selected="true"] {
    background-color: #EFEFEF;
}

.barSelect-multiple .barSelect-option[data-role="option"] {
    padding-left: 20px;
}

.barSelect-multiple .barSelect-option[data-role="option"]:before {
    box-sizing: border-box;
    font-family: 'Font Awesome\ 5 Pro';
    content: "\f0c8";
    font-weight: lighter;
    position: absolute;
    left: 0;
    width: 26px;
    text-align: center;
}

.barSelect-multiple .barSelect-option[data-selected="true"]:before {
    content: "\f14a";
}

/*
 * checkboxSelect
 */
.checkboxSelect {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding-left: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
}

/*
 * map
 */
#googleAutoCompleteDiv {
    display: flex;
    justify-content: space-around;
}

#googleAutoComplete {
    width:450px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
}

/*
 * response page
 */
.responseContainer {
    margin:50px auto;
    width: 90%;
    max-width: 600px;
}

.informationWrapper {
    margin-top:20px;
}

/*
 * utility css
 */
.text-xs {
    font-size: 0.75rem; /* 12px */
}
.text-s {
    font-size: 0.875rem; /* 14px */
}
.text-m {
    font-size: 1rem; /* 16px */
}
.text-l {
    font-size: 1.125rem; /* 18px */
}
.text-xl {
    font-size: 1.25rem; /* 20px */
}

.ml-1 {
    margin-left: 0.25rem; /* 4px */
}