<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>人生好難 體重更難</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="26">
    <form sheetIndex="20001" type="NUI" seq="1">個人身體數據計算</form>
    <form sheetIndex="20002" type="NUI" seq="2">每日飲食攝取紀錄</form>
    <form sheetIndex="20003" type="NUI" seq="3">食物營養成分表</form>
    <form sheetIndex="20004" type="NUI" seq="4">訓練菜單紀錄</form>
  </forms>
</module>
