@font-face {
  font-family: 'Roboto';
  src: url('/sims/css/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/sims/css/Roboto/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/sims/css/Roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('/sims/css/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('/sims/css/Lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('/sims/css/Lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('/sims/css/Lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url('/sims/css/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/sims/css/Bai_Jamjuree/BaiJamjuree-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/sims/css/Bai_Jamjuree/BaiJamjuree-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/sims/css/Bai_Jamjuree/BaiJamjuree-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/sims/css/Bai_Jamjuree/BaiJamjuree-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
