html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:"Open Sans","Noto Sans CJK TC","Noto Sans CJK SC","Noto Sans CJK JP","Noto Sans CJK KR","Lucida Grande",Tahoma,arial,sans-serif;}table{border-collapse:collapse;border-spacing:0;}img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{/*font-style:normal*/;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}del,ins{text-decoration:none;}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Light.eot');                                    /* IE Compat Modes */
src: local('Open Sans Light'), local('OpenSans-Light'),
url('/sims/css/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE */
url('/sims/css/opensans/OpenSans-Light.woff') format('woff'),                    /* Modern Browsers */
url('/sims/css/opensans/OpenSans-Light.ttf')  format('truetype');                /* Safari, Android, iOS */
font-style: normal;
font-weight: 300;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Regular.eot');                                    /* IE Compat Modes */
src: local('Open Sans Regular'), local('OpenSans-Regular'),
url('/sims/css/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE */
url('/sims/css/opensans/OpenSans-Regular.woff') format('woff'),                    /* Modern Browsers */
url('/sims/css/opensans/OpenSans-Regular.ttf')  format('truetype');                /* Safari, Android, iOS */
font-style: normal;
font-weight: 400;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Semibold.eot');
src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
url('/sims/css/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
url('/sims/css/opensans/OpenSans-Semibold.woff') format('woff'),
url('/sims/css/opensans/OpenSans-Semibold.ttf')  format('truetype');
font-style: normal;
font-weight: 600;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Bold.eot');
src: local('Open Sans Bold'), local('OpenSans-Bold'),
url('/sims/css/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
url('/sims/css/opensans/OpenSans-Bold.woff') format('woff'),
url('/sims/css/opensans/OpenSans-Bold.ttf')  format('truetype');
font-style: normal;
font-weight: 700;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-ExtraBold.eot');
src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
url('/sims/css/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('/sims/css/opensans/OpenSans-ExtraBold.woff') format('woff'),
url('/sims/css/opensans/OpenSans-ExtraBold.ttf')  format('truetype');
font-style: normal;
font-weight: 800;
}
body{
font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
input[type=button],input[type=submit]{
  padding:8px;
  margin:8px 0 0 0;
}
input[type=text],input[type=password],input[type=email]{
padding:8px;
font-size:18px;
_overflow:visible;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius: 3px;
border:1px solid #aaa;
/*border-top:1px solid #999;*/
height:25px;
transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
outline-color: #393;
}
td{
font-size:12px;
}
h1,h2,h3{
color:#000000;
}
h1{
font-size:22px;
font-weight:bold;
margin:0 0 8px 0;
}
h2{
font-size:18px;
font-weight:bold;
}
h3{
font-size:17px;
color:#666666;
}
h4{
font-size:14px;
color:#666666;
}
h2.home{
font-size:50px;
font-weight:600;
line-height:64px;
width:400px;
white-space:nowrap;
}
.homeSubtext{
font-size:22px;
font-weight:300;
line-height: 1.5em;
margin:20px 0 0 3px;width:350px;
}
#topContainer{
background:rgba(255,255,255,1);
}
#top{
width:980px;
font-size:12px;
font-family:verdana;
margin:0 auto 0 auto;
border-bottom:1px solid #ddd;
}
#topdetail{
height:110px;
width:930px;
font-size:12px;
font-weight:bold;
font-family:verdana;
}
#toptop{
float:right;
height:20px;
}
#topleft{
height:89px;
float:left;
}
A:link{color:#06c;text-decoration:none;}
A:visited{color:#06c;text-decoration:none;}
A:hover{color:#06c;text-decoration:underline;}
A:active{color:#06c;text-decoration:none;}
#topdetail A:link{color:black}
#topdetail A:visited{color:black}
#topdetail A:hover{color:black}
#topdetail A:active{color:black}


#whitebar{
float:left;
margin:50px 0 0 0;
height:30px;
width:680px;
}
#whitebar ul{
height:30px;
}
#whitebar li{
display:inline-block;
float:left;
height:30px;
overflow:hidden;
margin:0 0 0 30px;
}
#whitebar li a{
overflow:hidden;
height:30px;
font-size:12px;
}
#whitebar li a:hover{
text-decoration:none;
}



#greybar{
float:right;
height:38px;
width:560px;
/*border:1px solid #dddddd;
background:url(/hp/img/homebar.png) repeat-x;*/
}
.greybarAnchor{
display:inline;
margin:12px 0 0 36px;
float:right;
line-height:36px;
font-size:14px;
}
.freeTrial{
background:#3c84cc !important;
color:#fff !important;
padding:0 12px !important;
border-radius:15px !important;
line-height: 26px !important;
margin:17px 0 0 36px !important;
}
.dropTop{
position:absolute;
border:1px solid #333333;
text-align:right;
margin:0 0 0 -6px;
width:135px;
padding:6px 0 6px 0;
background:white;
z-index:99;
}
#dropTop a{
color:black;
}
#dropTop a:hover{
text-decoration:none;
color:#888888;
}
.dropItemTop{
padding:10px 15px 10px 15px;
cursor:pointer;
font-weight:normal;
font-size:12px;
text-align:left;
text-indent:0;
color:black;
}

#homeDrop div{
position:absolute;
border:1px solid #cccccc;
background-color:#f9f9f9;
text-align:left;
  -webkit-box-shadow: 0 4px 10px #8B8B8B;
  -moz-box-shadow: 0 4px 10px #8B8B8B;
  box-shadow: 0 4px 10px #8B8B8B;
z-index:100;
padding:0 50px 0 0;
}
#homeDrop h3{
float:left;
font-size:14px;
margin:0 0 8px 0;
border-bottom:1px solid #AAAAAA;
display:block;
font-weight:bold;
color:black;
}
#homeDrop ul{
float:left;
margin:20px 0 20px 35px;
}
#homeDrop a{
color:black;
}
#homeDrop a:hover{
text-decoration:none;
color:#888888;
}
#homeDrop li{
clear:left;
padding:0 0 10px 0;
cursor:pointer;
font-weight:normal;
font-size:12px;
text-align:left;
text-indent:0;
color:black;
}
#homeMain{
width:980px;
height:360px;
}
#featureMainv6{
margin:0 auto 0 auto;
}
#featureMain,#storeMain,#home2012Main,#blogMain,#voteMain,#docMain{
margin:0 auto 0 auto;
/*border:1px solid #d8d8d8;*/
width:980px;
position:relative;
background:#ffffff;
-webkit-border-radius:8px;
border-radius:8px;
}
#docMain{
}
#docMain img{
display:block;
margin:3em 0;
box-shadow: 0 0 6px #ccc;
border:1px dotted #aaa;
}
#docMain a:visited,#docMain a:active,#docMain a:link{
text-decoration: none;
font-weight: 700;
}
#docMain a:hover{
text-decoration: underline;
}
#docMain p.docp,#docMain p{
display:block;
margin:25px 25px;
font-size:16px;
line-height: 1.5em;
}
p.docp b{
color:#111111;
font-weight:700;
}
#docMain li{
display:block;
margin:25px 25px;
font-size:16px;
line-height: 1.5em;
}
#docMain table{
margin:25px;
border-collapse: collapse;
}
#docMain th,#docMain td{
font-size:16px;
line-height: 1.5em;
padding:3px 15px;
border:1px solid #ccc;
color:#555;
}
#docMain th{
background: #efefef;
}
#docMain ul{
margin:0 0 0 25px;
}
#docMain h1{
line-height: 36px;
}


pre{
font-family: Consolas,Monaco,monospace;
overflow-x: auto;
border: none;
white-space: pre;
display: block;
margin:25px 36px;
line-height: 18px;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#333;
}
pre p.docp{
line-height: 1em !important;
margin:8px 25px !important;
}
#supportMainList{
float:left;
background:#ffffff;
}
.blogContent{
font-size:16px;
line-height:26px;
margin:12px 0 0 0;
}
.blogContent p{
margin:0 0 16px 0;
}
#supportMainList h2,#supportMainList h3,#supportMainList h4,#supportMainList h5,#supportMainList h6{
line-height:1.5em;
font-weight:600;
}
#supportMainList h2{
font-size:32px;
}
#supportMainList h3{
font-size:26px;
}
#supportMainList h4{
font-size:20px;
}
#supportMainList h5{
font-size:17px;
}
#supportMainList h6{
font-size:15px;
}
#forumGuideDiv{
background-color:#f8f8f8;
width:730px;
float:left;
}
.forumGuideText{
float:left;
margin:25px 15px 25px 35px;
width:400px;
}
#supportGuideDiv{
  width:730px;
  float:left;
}
#supportGuideDiv h2{
  font-size:18px;
  font-weight:bold;
}
#supportGuideDiv p{
  font-size:14px;
}
.supportSection{
float:left;
margin:25px 35px 25px 15px;
font-size:14px;
width:280px;
}
#supportGuideDiv table{width:700px;}
#supportGuideDiv a{color:#08c;text-decoration:underline;clear:left;float:left;}
#supportDocDiv a{color:#08c;}
#supportDocDiv h1,#supportDocDiv h2,#supportDocDiv h3{margin:50px 0 0 0;}
#supportDocDiv img{
  margin:25px 0 25px 0;
}
#serviceReqForm{
  clear:left;margin:25px;
}
#serviceReqForm div{
  margin:20px 8px 20px 8px;
  font-size:14px;
}
#serviceReqForm input[type=text],#serviceReqForm select,textarea{
  padding:3px;
  font-size:14px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #aaaaaa;
}
#blogside{
  float:right;
  padding:25px;
  background-color:#efefef;
  height:100%;
  width:200px;
  margin:0;
}
#blogside input{
  padding:2px;
}
#blogside h2{line-height:25px;font-size:15px;}
#blogside li{margin:6px 0 6px 0;}
#blogside a{
color:#06c;
font-weight:normal;
font-size:14px;

}
#blogside ul{margin:0 0 50px 0;}
#blogTopCat{
  float:left;
  background-color:#CCCCCC;
  width:100%;
}
#blogTopCat a{color:black;}
#blogTopCat li{
  float:left;
  font:12px/16px  "Helvetica Neue", Helvetica,Arial, sans-serif;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #efefef;
  padding:5px 20px 5px 20px;
  color:#555555;
  background-color:#CCCCCC;
}
#blogTopCat li:hover{background-color:#DDDDDD;}
.readmore{float:left;font-weight:300;white-space:nowrap;color:#aaa !important;margin:8px 0 0 0;font-size:12px;}
.home2012div a{color:black;}
#home2012Main div{}
#home2012div p{
  font-size: 18px;
}
#home2012Main h1{
  font-size:36px;
  line-height: 1.2em;
  font-weight:bold;
  border-bottom:1px solid #ddd;
  letter-spacing: -1px;
}
#lightDevMain h1{
font-size:36px;
line-height:46px;
}
#lightDevMain h3{
font-size:26px;
line-height:36px;
}

#lightDevMain div{
margin:50px 20px;
}
#lightDevMain p{
width:500px;
float:left;
}
#faqMain h1{
font-size:25px;
padding:0 0 5px 0;
}
#partnerMain h1{
font-size:36px;
line-height:46px;
}
#partnerMain h3{
clear:both;
font-size:26px;
color:black;
}
#partnerMain div{
clear:both;
margin:50px 20px 0 20px;
}
#partnerMain a{color:#002288;text-decoration:none;}
#partnerMain a:hover{text-decoration:underline;}
#appsMain h1{
font-size:20px;
line-height:36px;
}
#appsMain h3{
clear:both;
font-size:18px;
color:black;
}
#appsMain div{
clear:both;
margin:20px 20px 0 20px;
}
#appsMain p{
width:500px;
float:left;
}


#faqlist{
float:right;
background:#f3f3f3;
width:250px;
padding:20px;
}
#faqlist ul li ul li{
text-indent:12px;
}
#faqlist ul{
font-size:12px;
line-height:2em;
}
#faq{
margin:12px 310px 0 50px;
padding:0;
}
#faq h1{margin:60px 0 0 0;line-height:1.5em;}
.fadebanner{position:absolute;width:100%;height:90%;top:0;left:0;background:white;}
.fadeSwitch{cursor:pointer;font-size:25px;font-weight:bold;color:black;font-family:arial;}

#banner{
position:relative;
height:500px;
width:980px;
margin:25px auto;
}
#welcome{
position:absolute;
top:15%;
left:8%;
width:800px;
height:380px;
/*border:1px solid #333;*/
z-index:60;
}
.welcomeChoice{
float:left;
height:80px;
width:205px;
_width:225px;
margin-left:20px;
padding:10px;
background-image:url(/sims/img/box.png);
font-size:12px;
text-align:left;
}
A:link.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}
A:visited.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}
A:active.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}
A:hover.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;    }
.blacklink:hover{text-decoration:underline;}
#tabpan{
height:36px;
width:980px;
margin:15px 0 0;
border-bottom:1px solid #CCCCCC;
}
#tab1,#tab2,#tab3,#galleryTab1,#galleryTab2,#galleryTab3{background-repeat:no-repeat;background-position:10px 3px}
#tab1{background-image:url(/sims/img/enterprise_icon.png);}
#tab2{background-image:url(/sims/img/social_icon.gif);}
#tab3{background-image:url(/sims/img/builder.gif);}
.tab{
float:left;
border-top:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
margin:4px 4px 0 0;
padding:0 5px;
_width:160px;
background-color:#DDDDDD;
}
.tabsel{
border-bottom:1px solid #FFFFFF;
border-top:1px solid #BBBBBB;
border-left:1px solid #BBBBBB;
border-right:1px solid #BBBBBB;
background-color:white;
margin-top:1px;
padding:0 7px 3px;
}
.tabtext,.galleryTabText{
cursor:pointer;
font-size:13px;
height:26px;
line-height:26px;
margin:3px 0;
padding:0 2px 0 8px;
text-indent:30px;
vertical-align:top;
}
.galleryTabText{text-indent:0;}
#gallery{
margin:5px 0 0 10px;
width:980px;
}
#showroom{
width:980px;
padding:12px 0 0 0;
}
#ragicBuilder,#developers{
text-align:left;
padding:12px 0 0 0;
font-size:13px;
width:980px;
height:180px;
}
#ragicBuilder a{
color:black;
text-decoration:none;
}
.indexblock{
float:left;
width:193px;
_width:214px;
height:131px;
_height:151px;
border:1px solid #DDDDDD;
background-image:url(/sims/img/indexFrontBG.jpg);
padding:10px 10px 0 10px;
cursor:pointer;
}

#midPanel{
width:980px;
margin:0 auto;
}
#midPanel img{
float:left;
}
#midPanel span,#midPanel2 span{
color:#08c;
margin:0 0 0 6px;
white-space:nowrap;
}
#midPanel span:hover,#midPanel2 span:hover{
text-decoration:underline;
}
#midPanel2{
width:980px;
margin:36px auto;
}

#custLogo{
width:980px;
margin:0 auto;
}
.custLogoDiv{
float:left;
background: url(/intl/common/img/custLogo_b.png);
width:196px;
height:200px;
transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari and Chrome */
-o-transition: all 0.3s; /* Opera */
}
.custLogoDiv_zh{
float:left;
background: url(/intl/common/img/custLogo_zh_b.png);
width:196px;
height:100px;
transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari and Chrome */
-o-transition: all 0.3s; /* Opera */
}

#goPanel p{font-size:12px;font-weight:bold;color:#888888;margin-top:8px;margin-right:20px;}
a.midSection,a.midSection:hover,a.midSection:active,a.midSection:visited
{color:#000000;text-decoration:none;background:#ffffff;}
/*a.midSection:hover{border:1px solid #cccccc;}*/
.midSection{
float:left;
width:437px;
margin:5px;
padding:20px;
border:1px solid #efefef;
text-decoration:none;
color:#000000;
}
a.midSection2old,a.midSection2old:hover,a.midSection2old:active,a.midSection2old:visited
{color:#000000;text-decoration:none;background:#ffffff;border:1px solid #efefef;}
/*a.midSection2old:hover{border:1px solid #888888;}*/
.midSection2old{
float:left;
height:450px;
width:270px;
margin:5px;
padding:20px;
text-decoration:none;
border:1px solid #cccccc;
color:#000000;
}
a.midSection2,a.midSection2:hover,a.midSection2:active,a.midSection2:visited
{color:#000000;text-decoration:none;background:#ffffff;border:1px solid #cccccc;}
a.midSection2:hover{border:1px solid #888888;}
.midSection2{
float:left;
height:150px;
width:270px;
margin:5px;
padding:20px;
text-decoration:none;
border:1px solid #cccccc;
color:#000000;
}
.midSectionLeft{
float:left;
clear:left;
width:400px;
margin:12px 25px 0 25px;
}
.midSectionLeft3{
float:left;
width:300px;
}

.goodFont{
letter-spacing:-1px;
}
.featureHeading,.featureText{
display:block;
text-align:center;
}
.featureHeading{
font-size:36px;
letter-spacing:-1px;
font-weight:600;
margin:25px auto 25px auto;
}
.featureText{
font-size:16px;
font-weight:300;
margin:25px auto 50px auto;
}
.featureImg{
display:block;
text-align:center;
margin:25px auto 25px auto;
}
.featureDivDark{
padding:75px 25px 50px 25px;
background:#f3f3f3;
border-bottom:1px solid #dbdbdb;
}
.featureDivLight{
padding:75px 25px 50px 25px;
background:#f8f8f8;
border-bottom:1px solid #dbdbdb;
}



.feature3column{
float:left;
width:250px;
margin:50px 30px;
}
.feature3Img{margin:0 0 30px 0;}
.feature1Img{float:right;margin:0;}
.feature1column{
clear:both;
width:960px;
}
.feature2column{
float:left;
width:420px;
margin:10px 0 10px 50px;
}

#welcomeFooter{
clear:both;
padding:10px 0 10px 0;
font-size:11px;
text-align:center;
margin:0 auto;
}
A:link.hidden {color:#000;text-decoration:none;}
A:visited.hidden {color:#000;text-decoration:none;}
A:active.hidden {color:#000;text-decoration:none;}
A:hover.hidden {color:#000;text-decoration:none;}
.item{
padding:0 20px 0 0;
}
.itemText{
padding-top:5px;
}
.reglable{
margin:12px 50px 5px 0;
font-size:12px;
font-weight:300;
color:#333;
}

/*
* Application Gallery
*/
#appLefNav{
clear:both;
float:left;
margin:10px 0 0 0;
border:1px solid #ebebeb;
width:180px;
font-size:12px;
}
.appRightContent{
float:left;
margin:10px 0 0 10px;
width:636px;
font-size:12px;
}
.appLv01,.appLv02{
font-size:12px;
border-bottom:1px solid #ebebeb;
}
.appLv01{
padding:10px 5px 10px 15px;
}
.appLv02{
padding:10px 5px 10px 25px;
}
.appHeader{
float:left;
margin:10px 0 10px 0;
padding:5px 10px 5px 10px;
border:1px solid #ebebeb;
background-image:url(/sims/img/frontbglighter.png);
font-size:20px;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
font-weight:bold;
color:#9F0909;
width:618px;
}
.appContent{
float:left;
padding:10px;
border:1px solid #ebebeb;
background: url(/sims/img/frontbglighter.png) repeat-x;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
font-size:12px;
}
.appSubcontent{
position:relative;
float:left;
width:280px;
margin:0 10px 10px 10px;
padding:10px;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
font-size:12px;
}
.appSubcontentText{
margin:5px 0 0 0;
}
.appContentTitle{
margin:0 15px 15px 15px;
font-size:15px;
font-weight:bold;
}
a.appContentSubtitle{
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:underline;
margin:0 0 15px 0;
}
.appContentText{
margin:0 15px 15px 15px;
}


#tourContainer{
min-height:550px;
margin:0 0 3em 0;
padding:1em 0 1em 0;
}
#tourLeft{
float:left;
min-height:520px;
width:190px;
border:1px solid #BBBBBB;
border-right:0 none;
border-bottom:0 none;
}
.tourLeftNav,.tourLeftNavSelected{
-moz-outline:0px none; outline:0 none;
display:block;
padding:15px;
border-bottom:1px solid #BBBBBB;
border-right:1px solid #BBBBBB;
line-height:19px;
height:19px;
background:#efefef;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
font-size:12px;
font-weight:bold;
color:#000000;
}
.tourLeftNavSelected{
border-right:0 none;
background:none;
}
.tourIcon{
margin:0 7px 0 0;
}
#tourRight{
float:left;
padding:10px 0 0 30px;
width:600px;
border-top:1px solid #BBBBBB;
}
#tourContainer h1{
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
float:left;
font-size:15px;
color:#D80c0c;
font-weight:bold;
border:none;
margin:30px 0 0 0;
}
.tourimg{
float:left;
margin:20px 0 20px 0;
}
.tourTextContainer{
float:right;
}
.tourText{
float:left;
clear:left;
width:250px;_width:230px;
margin:2em 0 0 0;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
font-size:12px;
line-height:150%;
}


#featureList h1,#featureList h2,#featureList h3{
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
color:black;
font-weight:bold;
border:none;
text-align:left;
}
#featureList h1{
margin:30px 0 0 0;
font-size:20px;
}
#featureList h2{
margin:25px 0 0 0;
font-size:15px;
}
#featureList li{
font-size:12px;
margin:5px 0 5px 3em;
padding:0 0 0 18px;
background: url(/hp/img/red_dot_small.png) no-repeat 0 4px;
}
#featureList p{
margin:1em 0 1em 1em;
}
#featureList img{
margin:0 10px 0 0;
position:relative;
top:2px;
}
#featureList{
margin:0 0 6em 0;
}
#pricingTable{
table-layout:fixed;
margin:50px auto 0 auto;
}
#pricingTable td{
padding:10px;
text-align:center;
width:240px;
}
#pricingTable2{
table-layout:fixed;
margin:36px 50px;
border-bottom:1px solid #efefef;
}
#pricingTable2 td{
text-align:center;
width:210px;
border-left:1px solid #efefef;
border-right:1px solid #efefef;
}
.pricingProduct{
font-size:18px;
font-weight:800;
color:#000;
padding:50px 0 0 0 !important;
}
.pricingProduct2{
font-size:18px;
font-weight:800;
color:#000;
border-top:1px solid #efefef;
padding:25px 0 25px 0 !important;
}
.currentPlan{
padding:10px;
border:0 !important;
font-size:16px;
font-weight:bold;
color:#fff;
background: #c33;
border-radius:8px 8px 0 0;
}
.pricingIntro{
font-size:12px;
padding:12px 15px !important;
color:#666666;
}
.pricingPrice{
font-size:22px;
font-weight:600;
margin:5px 0 5px 0;
color:#333333;
}
.pricingSignup{
height:60px;
}
.pricingDesc{
font-size:12px;
line-height:18px;
vertical-align:top;
padding:0 15px 50px 8px !important;
}
.pricingDesc a,.pricingI{
font-weight:300;
font-style:italic;
color:#aaa !important;
font-family: serif;
font-size:14px;
}
.pricingDesc li{
text-align:left;
margin:8px 0 8px 25px;
}
#pricingFAQ h3{
font-weight:bold;
line-height:1.5em;
}
#pricingFAQ li{
margin:18px 36px;
width:360px;
float:left;
color:#555;
}

.signupButtonUp{background-image:url(/hp/img/bluebutton.png);cursor:pointer;}
.signupButtonDn{background-image:url(/hp/img/redbutton.png);cursor:pointer;}
.signupButtonMy{background-image:url(/hp/img/greybutton.png);}
.signupButtonUp,.signupButtonDn,.signupButtonMy{
display:block;
background-repeat:no-repeat;
background-position: 50% 0;
height:26px;_height:36px;
font-size:13px;
font-weight:bold;
padding:8px 0 0 3px;
}

#upgradeTable td{
border:1px solid #cccccc;
padding:5px 20px 5px 20px;
}
#upgradeTable span{
float:left;
margin:12px 20px 12px 20px;
font-family:Lucida Grande;
}
.upgradeHeader{
background:#ccddee;
}
#regTable td{
height:50px;
vertical-align:top;
}
#regTable div{
color:#888888;
padding:0 0 12px 0;
}

#videoToc span{
float:left;
color:#bbbbbb;
font-size:18px;
}
#videoToc ul{
float:left;
clear:left;
margin:10px 0 0 10px;
width:200px;
}
#videoToc li{
float:left;
clear:left;
font-size:12px;
font-weight:bold;
}
#videoToc ul li div{float:left;clear:left;color:#888888;font-weight:normal;margin:6px 0 0 0;}
#videoToc img {float:right;border:3px groove #888888;}

#videoToc A span{font-size:12px;}
#videoToc A {
color: #efefef;
text-decoration:none;
float:left;
height:45px;
width:200px;
background:#444444;
margin:0 0 8px 0;
padding:5px 12px 5px 12px;
}
#videoToc A:hover {background:#555555;}

.learnTab{
font-weight:bold;
font-size:26px;
margin:50px 0 20px 20px;
color:#111111;
}

#moreDocuments li{
float:left;
margin:20px 30px;
width:390px;
min-height:80px;
}
#moreDocuments li p a{
color:#365EBF;
}
#moreDocuments li h2{
text-align:left;
}
#moreDocuments li h2 a{
font-size:15px;
font-family:arial;
font-weight:bold;
color:#8C0C0C;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



.installButton{
background:url(/sims/img/installButton.png);
height:20px;width:80px;
text-align:center;
cursor:pointer;
}
.installButton:hover{
opacity:0.8;
}
.installButtonText{
line-height:20px;
color:white;font-size:12px;font-family:arial;font-weight:bold;
}

#pcrmTopPanel img{
width:60%;
}
#pcrmTopPanel div{
font-size:14px;
}
.appStory{
font-size:14px;border:1px solid #cfcfcf;width:200px;padding:1.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
}
#aboutMain p,#aboutMain i{
font-size:14px;
margin:1em 1em 1em 0;
line-height:150%;
}
#pricingFAQ{
font-size:14px;
margin:1em 1em 1em 0;
line-height:150%;
}
#pricingFAQ p{
margin:12px 0;
}
#pricingFAQ h3{
margin:0 0 12px 0;
}
#aboutMain h1{
font-size:36px;
line-height:46px;
margin:25px 0 0 0;
}
#aboutMain h3{
clear:both;
font-size:26px;
color:black;
}
#aboutMain div{
margin:0 20px 0 20px;
}
#aboutMain li{
list-style:disc inside;
}
#aboutNew p{
float:left;
text-align:left;
font-size:18px;
margin:0 0 25px 0;
font-weight:300;
}
#aboutNew h2{
float:left;
text-align:left;
font-size:36px;
line-height: 1.5em;
font-weight:400;
margin:25px 0 12px 0;
}
#aboutDiv{padding:0 0 100px 0;}
#aboutDiv h1 {margin:0;}
#aboutDiv h2 {margin:25px 0 0 0;}
#aboutDiv div p{
  width:500px;float:left;clear:left;
}
#aboutDiv div div{
  font-size:14px;
  margin:20px;
  float:left;
  width:360px;
}
#aboutDiv div div span{
  float:left;
}
#aboutDiv div div img{
}
#awards td{
  padding:20px;
  text-align:center;
  font-size:14px;
}
#storeItemInfo{
  margin:25px 0 50px 50px;
}
#storeItemInfo th,#storeItemInfo td{
  font-size:14px;
}
#storeItemInfo th{
  font-weight:bold;
  color:#888888;
  padding:0 12px 0 0;
  text-align:right;
}
#storecat li{
  font-size:15px;
  font-family:verdana;
  margin:20px 20px 20px 20px;
  cursor:pointer;
}
#storecat li a{
  color:black;
}
#storecat input{
  height:25px;
  padding:2px;
}
/*.playButton{*/
/*background: transparent url(../common/img/videoPlayButton.png) no-repeat 0 0;*/
/*display: inline-block;*/
/*height: 80px;*/
/*position: absolute;*/
/*width: 80px;*/
/*left: 190px;*/
/*top: 91px;*/
/*opacity:0.7;*/
/*}*/
/*.playButton:hover{*/
/*background-position: 0 -80px;*/
/*}*/



.floatingWin{
position:absolute;
top:15%;
left:15%;
/*width:550px;*/
font-size:12px;
/*padding:20px;*/
z-index:260;
}
.floatingWinHeader,.dockWinHeader{
float:left;
background:url('/sims/img/windowbanner_m.png');
/*background:#666666;*/
color:white;
padding:3px 0 3px 12px;
font-size:12px;
font-weight:bold;
height:17px;_height:23px;
width:520px;_width:532px;
cursor:default;
}
.dockWinHeader{
cursor:pointer;
width:430px;_width:442px;
}
/*.floatingWinHeaderLeft{*/
/*float:left;*/
/*background:url('/sims/img/windowbanner_l.png');*/
/*width:9px;height:23px;*/
/*}*/
/*.floatingWinHeaderRight{*/
/*float:right;*/
/*background:url('/sims/img/windowbanner_r.png');*/
/*width:9px;height:23px;*/
/*}*/
/*.floatingWinContent{*/
/*clear:both;_height:0;*/
/*padding:15px 11px 10px 25px;*/
/*background:#dbdbdb url(/intl/common/img/bg.jpg);*/
/*overflow:auto;*/
/*border:1px solid #888;*/
/*}*/
/*.floatingOKbutton{*/
/*clear:both;*/
/*float:left;*/
/*margin:8px 0 0 20px;*/
/*width:80px;*/
/*font-size:12px;*/
/*}*/
/*.close{*/
/*float:right;*/
/*padding-top:0;*/
/*padding-right:5px;*/
/*cursor:pointer;*/
/*color:#ffffff;*/
/*}*/

#sitemap{
margin:0 auto 0 auto;
width:1000px;
}
.sitemapdiv{
float:left;
margin:50px 15px 100px 15px;
}
.sitemapli{
margin:8px;
}
a.sitemapa{
color:#888888;
}
.sitemaph3{
font-size:20px;
margin:25px 0 25px 0;
color:#333333;
}

#home2012Slogan{float:left;margin:100px 0 50px 25px;font-size:30px;width:467px;}
#home2012Slogan1{float:left;height:50px;line-height:50px;}
#flick{height:50px;overflow:hidden;float:left;}
#flick div{font-size:30px;line-height:50px;padding:0 0 0 10px;font-weight:bold;}
#sub1{float:left;clear:left;font-size:15px;margin:3px 0 0 1px;font-family:arial;}
#sub2{float:left;clear:left;font-size:15px;margin:8px 0 0 1px;font-family:arial;}
#home2012movie{float:left;height:280px;width:460px;margin:15px 0 0 0;position:relative;cursor:pointer;/*box-shadow:inset 0 0 30px #efefef;border:1px solid #cccccc;*/overflow:hidden;}
#movie2012{width:100%;height:100%;top:0;left:0;position:absolute;background-color:#555555;}
#closeMovie{position:absolute;top:25px;right:30px;color:white;font-size:20px;cursor:pointer;}
.home2012div{padding:50px 25px 0 25px;}
.stepImage{float:left;clear:left;width:360px;margin:0 0 50px 0;}
.home2012div div{float:left;width:900px;margin:12px 25px 12px 35px;}
#goPanel{background-color:#e8e8e8;padding:15px 3px 15px 3px;}
#home2012div h1{/*border-bottom:1px solid #dddddd;*/}

dt,dd,dl{margin-left:1em;}

#voteMain div{
  -webkit-border-radius:5px;
  border-radius:5px;
}
#regDiv,#appDiv{
  background:#ffffff;
  border-top:2px solid #ddd;
  border-left:2px solid #888;
  border-right:2px solid #888;
  border-bottom:2px solid #888;
  border-radius:8px;
  margin:0 0 36px 0;
  padding:0;
  box-shadow: 0 12px 25px #8B8B8B;  
}
#regDiv input{
  padding:3px 8px 3px 8px;
}
.regPrompt{
position:absolute;
color:#efefef;
background:#cc0000;
padding:3px 12px;
right:-100px;
z-index:999;
border-radius:3px;
transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari and Chrome */
-o-transition: all 0.3s; /* Opera */
}
.thebutton:visited,.thebutton:hover,.thebutton:active,.thebutton:link{color:white;text-decoration:none;cursor:pointer;}
.thebutton2:visited,.thebutton2:hover,.thebutton2:active,.thebutton2:link{color:white;text-decoration:none;cursor:pointer;}
.thebutton3:visited,.thebutton3:hover,.thebutton3:active,.thebutton3:link{text-decoration:none;cursor:pointer;}
.thebutton {
background-color:#E70E0E;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #d83526;
display:inline-block;
color:#ffffff;
font-size:17px;
font-weight:600;
padding:14px 30px;
text-decoration:none;
text-shadow:1px 1px 0 #b23e35;
}.thebutton:hover {
 background-color:#F70E0E;
 }.thebutton:active {
 background-color:#d83526;
 }
.thebutton2 {
    background-color:#4f4f4f;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #333333;
    display:inline-block;
    color:#f0f0f0;
font-size:17px;
font-weight:600;
padding:14px 30px;
text-decoration:none;
    text-shadow:1px 1px 0 #7d7c7d;
}.thebutton2:hover {
 border:1px solid #555555;
 background-color:#666666;
}.thebutton2:active {
  background-color:#333333;
}

.thebutton3 {
-moz-box-shadow:inset 0 1px 0 0 #ffffff;
-webkit-box-shadow:inset 0 1px 0 0 #ffffff;
box-shadow:inset 0 1px 0 0 #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color:#ededed;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #bbbbbb;
display:inline-block;
color:#777777;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:1px 1px 0 #ffffff;
}.thebutton3:hover {
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
 background-color:#dfdfdf;
 }.thebutton3:active {
  position:relative;
  top:1px;
  }



#checkoutTable td,#checkoutTable th{
border:1px solid #efefef;
padding:10px;
font-size:12px;
}
#checkoutTable th{
font-weight:bold;
}

#quoteTable{
margin:25px 0 25px 0;
}
#quoteTable th {
font-size:16px;font-weight:600;text-align: right;padding:0 50px 25px 0;
color:#888888;
}
#quoteTable td {
font-size:16px;
padding:0 50px 25px 0;
}
@keyframes fadein
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes fadein /* Safari and Chrome */
{
from {opacity: 0;}
to {opacity: 1;}
}
.tooltip{
position: absolute;
padding:1em;
background: #000000;
opacity: 0.9;
color:#efefef;
border-radius: 3px;
width:300px;
animation: fadein 0.3s;
-webkit-animation: fadein 0.3s; /* Safari and Chrome */
}
.tooltipHeader{
font-size:16px;
font-weight:bold;
color:#aaa;
}

.pageNum{
float:left;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
background-color:#f6f6f6;
border:1px solid #C8D5E0;
font-weight:bold;
padding:8px 10px;
text-decoration:none;
color:#1E598E;
}
.pageNumNow{
background-color:#ffffff;
}

.forumPost{
padding:10px 80px 10px 10px;
}
.forumPostTitle{
font-size:13px;
font-weight:bold;
color:#06c !important;
text-decoration: underline !important;
}
.forumPostInfo{
color:#999;
font-size:11px;
}
.forumAuthor{
color:#666;
font-weight:bold;
}
.postTitle{
float:left;
font-size:24px;
margin:5px 0 5px 12px;
padding:25px 0 25px 0;
}
.alt{
background: #eee;
}
.commentContainer{
float:left;
clear:left;
}
.commentItem{
padding:15px;
border-bottom:1px solid #ccc;
}
.commentInfo{
float:left;
width:160px;
}
.commentPic{
height:48px;
width:48px;
background:url(/intl/common/img/default.gif);
}
.commentAuthor{
font-size:15px;
font-weight:bold;
color:#C30;
margin:8px 0 0 0;
overflow:hidden;
text-overflow:ellipsis;
}
.commentDate{
color:#999;
font-size:11px;
margin:5px 0 0 0;
}
.commentContent{
float:left;
font-size:13px;
width:520px;
}
.postTextarea{
width:700px;
height:120px;
}
.postInputText{
width:650px !important;
}
.forumPrompt{
font-size:11px;
font-weight:bold;
color:#888;
margin:8px 0 3px 0;
}


.homeTopDiv{
height:460px;
padding:0 0 25px 0;
overflow:hidden;
transition: all 0.3s;
-moz-transition: all 0.3s; /* Firefox 4 */
-webkit-transition: all 0.3s; /* Safari and Chrome */
-o-transition: all 0.3s; /* Opera */
/* add padding to avoid collapse instead of overflow? */
}
.homeTopDivInner{
margin:150px auto 0 auto;width:980px;text-align: right;
}
.homeTopDivInner2{
margin:0 auto;width:980px;text-align: left;
}
.homeTopBanner{
margin:0 90px 0 0;font-size:46px;font-weight:800;font-family:Tahoma,Arial;line-height:60px;
}
.homeTopDiv h2{
font-size:36px;
font-weight:normal;
line-height:39px;
letter-spacing:-1px;
}
.homeTopDiv p{
float:left;
clear:left;
margin:3px 0 0 15px;
font-size:36px;
color:#999;
line-height:120%;
letter-spacing:-1px;
}
#bannerControl{
/*background:#f8f8f8;*/
height:36px;margin:0 auto;width:300px;text-align:center;
vertical-align: top;
}
#bannerControl span{
color:#aaa;
margin:5px;
cursor:pointer;
}
#bannerControl span:hover{
color:#ddd;
}
#bannerControl span.showing{
color:#d00;
}


#learn-more{
position:absolute;
bottom:50px;
text-align: center;
width:100%;
cursor:pointer;
font-size:20px;
}
#pubDiv h3{
font-size:28px;
color:#666;
margin:0 0 25px 0;
}
#pubDiv li{
margin:8px 0;
}
#pubDiv a{
font-size:16px;
color:#000;
}
#pubDiv ul{
float:left;
margin:0 120px 100px 0;
}
#pubDiv h3,#pubDiv img{
float:left;
}
#pubDiv img{
margin:-8px 12px 0 0;
}
#pubNote a:hover{
text-decoration: none;
}

.placeholding-input {
display: block;
height: 30px;
width: 276px;
position: relative;
overflow: visible;
margin:0 0 12px 0;
}
.text-input {
width: 266px;
height: 20px;
border: 1px solid #bbb !important;
-webkit-box-shadow: inset 0 1px 0 #EEE,#FFF 0 1px 0;
box-shadow: inset 0 1px 0 #EEE,#FFF 0 1px 0;
position: absolute;
top: 0;
}
.placeholding-input .placeholder {
position: absolute;
top: 10px;
right: 1px;
bottom: 1px;
left: 8px;
z-index: 1;
height: 20px;
padding: 4px;
font-size: 22px;
line-height: 20px;
color: #aaa;
white-space: nowrap;
cursor: text;
-webkit-transition: opacity .1s,font-size .1s;
-moz-transition: opacity .1s,font-size .1s;
-o-transition: opacity .1s,font-size .1s;
transition: opacity .1s,font-size .1s;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

display: block;
margin-bottom: 5px;
}



.placeholding-input2 {
height: 30px;
width: 276px;
position: relative;
overflow: visible;
margin:23px 0 23px 0;
}
.text-input2 {
width: 266px;
height:30px !important;
border: 1px solid #bbb !important;
-webkit-box-shadow: inset 0 1px 0 #EEE,#FFF 0 1px 0;
box-shadow: inset 0 1px 0 #EEE,#FFF 0 1px 0;
position: absolute;
top: 0;
}
.placeholding-input2 .placeholder2 {
position: absolute;
top: 6px;
right: 1px;
bottom: 1px;
left: 8px;
z-index: 1;
height: 20px;
padding: 4px;
font-size: 15px;
line-height: 20px;
color: #aaa;
white-space: nowrap;
cursor: text;
-webkit-transition: opacity .1s,font-size .1s;
-moz-transition: opacity .1s,font-size .1s;
-o-transition: opacity .1s,font-size .1s;
transition: opacity .1s,font-size .1s;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

display: block;
margin-bottom: 5px;
}
#employeePicker{
height: 36px;width: 324px;background:#fafafa;border: 1px solid #bbb;border-radius: 3px;position:relative;
cursor:default;
}
.fakeDropdownButton{
position:absolute;
right:0;
background:#efefef;
padding:9px 8px;
border-left:1px solid #aaa;
color:#aaa;
}
.fakeDropdownButton:hover{
background:#e8e8e8;
color:#555;
}
#fakeDropDiv{
position:absolute;
background:#ffffff;
width:324px;
border:1px solid #aaa;
transition:all 0.1s ease;
-moz-transition:all 0.1s ease;
-webkit-transition:all 0.1s ease;
}
#fakeDropDiv div{
font-size:15px;
padding:3px 8px;
}
#fakeDropDiv div:hover{
background:#efefef;
}
/*
*  For documents
*/
#docToc{
margin:25px 0 0 8px;
font-size:20px;
}
#docToc ol{
margin:0 0 0 25px;
font-size:90%;
}
#docToc li{
line-height: 180%;
}

.docSidebar{
position:fixed;
background:#f2f2f2;
padding:12px;
margin:0;
top:0;
right:0;
width:120px;
}
.docSidebar a{
line-height: 1em;
}

.googleopenid{
border:2px solid #ddd;border-radius:6px;width:250px;line-height:15px;cursor:pointer;
}
.googleopenid:hover{
opacity:0.7;
}
.ragicRed {
  color: #F70E0E;
}
.container {
  line-height: 1.7;
  font-size: 1rem;
  font-weight: bold;
}
.container section {
  margin: 3rem auto;
}
.container section li{
  list-style: inherit;
  position: relative;
  left: 1rem;
}
.indentTwoWords {
  text-indent: 2rem;
}
.blockContent {
  width: 985px; /*same as #top width*/
  margin: 1rem auto;
}
.ragic_header1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.ragic_header2 {
  font-size: 2rem;
  font-weight: bold;
}
.ragic_header3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.flex-box {
  display: flex;
}
.descLeftBlock {
  margin-right: 2rem;
}
#mottoBlock {
  --imageWidth: 175px;
  --ImageHeight: 220px;
  margin-bottom: 4rem;
}
#mottoBlock #mottoDescBlock {
  max-width: calc(100% - 255px); /* IE */
  max-width: calc(100% - var(--imageWidth) - 80px);
}
#mottoBlock #mottoImage {
  width: 175px; /* IE */
  width: var(--imageWidth);
  height: 220px; /* IE */
  height: var(--ImageHeight);
  position: absolute;
  top: -110px; /* IE */
  top: calc(var(--ImageHeight) / -2);
}
#volumeDiscountTableBlock {
  position: relative;
  top: 0.7rem;
}
@media screen and (max-width: 1400px) {
  .blockContent {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  .blockContent {
    width: 75%;
  }
  #volumeDiscountBlock {
    align-items: center;
  }
  #volumeDiscountTableBlock {
    position: static;
    top: 0;
  }
}
@media screen and (max-width: 800px) {
  .descLeftBlock {
    margin: 0;
  }
  .imageRightBlock {
    display: none;
  }
  #mottoBlock {
    margin-bottom: 2rem;
  }
  #mottoBlock #mottoDescBlock {
    max-width: 100%;
  }
  #mottoBlock #mottoImage {
    display: none;
  }
  #volumeDiscountBlock {
    flex-wrap: wrap;
  }
  #volumeDiscountTableBlock {
    margin: 1rem auto;
  }
}
/*
* Flowplayer
*/
/*.flowplayer{position:relative;width:100%;text-align:left;background-size:contain;background-repeat:no-repeat;background-position:center center;display:inline-block;}*/
/*.flowplayer *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}*/
/*.flowplayer a:focus{outline:0}*/
/*.flowplayer video{width:100%}*/
/*.flowplayer.is-ipad video{-webkit-transform:translateX(-2048px);}*/
/*.is-ready.flowplayer.is-ipad video{-webkit-transform:translateX(0)}*/
/*.flowplayer .fp-engine,.flowplayer .fp-ui,.flowplayer .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}*/
/*.flowplayer .fp-message{display:none;text-align:center;padding-top:5%;cursor:default;}*/
/*.flowplayer .fp-message h2{font-size:120%;margin-bottom:1em}*/
/*.flowplayer .fp-message p{color:#666;font-size:95%}*/
/*.flowplayer .fp-controls{position:absolute;bottom:0;width:100%;}*/
/*.no-background.flowplayer .fp-controls{background-color:transparent !important;background-image:-moz-linear-gradient(transparent,transparent) !important;background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),to(transparent)) !important}*/
/*.is-fullscreen.flowplayer .fp-controls{bottom:3px}*/
/*.is-mouseover.flowplayer .fp-controls{bottom:0}*/
/*.flowplayer .fp-waiting{display:none;margin:19% auto;text-align:center;}*/
/*.flowplayer .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}*/
/*.flowplayer .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}*/
/*.flowplayer .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}*/
/*.flowplayer .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}*/
/*.flowplayer .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}*/
/*.flowplayer .fp-waiting p{color:#ccc;font-weight:bold}*/
/*.flowplayer .fp-speed{font-size:30px;background-color:#333;background-color:rgba(51,51,51,0.8);color:#eee;margin:0 auto;text-align:center;width:120px;padding:.1em 0 0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;}*/
/*.flowplayer .fp-speed.fp-hilite{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}*/
/*.flowplayer .fp-help{position:absolute;top:0;left:-9999em;z-index:100;background-color:#333;background-color:rgba(51,51,51,0.9);width:100%;height:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s;text-align:center;}*/
/*.is-help.flowplayer .fp-help{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}*/
/*.flowplayer .fp-help .fp-help-section{margin:3%}*/
/*.flowplayer .fp-help .fp-help-basics{margin-top:6%}*/
/*.flowplayer .fp-help p{color:#eee;margin:.5em 0;font-size:14px;line-height:1.5;display:inline-block;margin:1% 2%}*/
/*.flowplayer .fp-help em{background:#eee;-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;margin-right:.4em;padding:.3em .6em;color:#333}*/
/*.flowplayer .fp-help small{font-size:90%;color:#aaa}*/
/*.flowplayer .fp-help .fp-close{display:block}*/
/*@media (max-width: 600px){.flowplayer .fp-help p{font-size:9px}*/
/*}.flowplayer .fp-subtitle{position:absolute;bottom:40px;left:-99999em;z-index:10;text-align:center;width:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;}*/
/*.flowplayer .fp-subtitle p{display:inline;background-color:#333;background-color:rgba(51,51,51,0.9);color:#eee;padding:.1em .4em;font-size:16px;line-height:1.6;}*/
/*.flowplayer .fp-subtitle p:after{content:'';clear:both}*/
/*.flowplayer .fp-subtitle.fp-active{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}*/
/*.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play{background-image:url(img/img/white.png);background-size:37px 300px;}*/
/*.color-light.flowplayer .fp-fullscreen,.color-light.flowplayer .fp-unload,.color-light.flowplayer .fp-mute,.color-light.flowplayer .fp-embed,.color-light.flowplayer .fp-close,.color-light.flowplayer .fp-play{background-image:url(img/img/black.png);}*/
/*@media (-webkit-min-device-pixel-ratio: 2){.color-light.flowplayer .fp-fullscreen,.color-light.flowplayer .fp-unload,.color-light.flowplayer .fp-mute,.color-light.flowplayer .fp-embed,.color-light.flowplayer .fp-close,.color-light.flowplayer .fp-play{background-image:url(img/img/black@x2.png)}*/
/*}@media (-webkit-min-device-pixel-ratio: 2){.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play{background-image:url(img/img/white@x2.png)}*/
/*}.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui{background:url(img/img/play_white.png) center no-repeat;background-size:12%;}*/
/*@media (-webkit-min-device-pixel-ratio: 2){.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui{background:url(img/img/play_white@x2.png) center no-repeat;background-size:12%}*/
/*}.color-light.is-splash.flowplayer .fp-ui,.color-light.is-paused.flowplayer .fp-ui{background-image:url(img/img/play_black.png)}*/
/*@media (-webkit-min-device-pixel-ratio: 2){.color-light.is-splash.flowplayer .fp-ui,.color-light.is-paused.flowplayer .fp-ui{background-image:url(img/img/play_black@x2.png)}*/
/*}.is-fullscreen.flowplayer .fp-ui{background-size:auto}*/
/*.is-seeking.flowplayer .fp-ui,.is-loading.flowplayer .fp-ui{background-image:none}*/
/*.flowplayer .fp-logo{position:absolute;top:auto;left:15px;bottom:30px;cursor:pointer;display:none;z-index:100;}*/
/*.flowplayer .fp-logo img{width:100%}*/
/*.is-embedded.flowplayer .fp-logo{display:block}*/
/*.fixed-controls.flowplayer .fp-logo{bottom:15px}*/
/*.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-close{position:absolute;top:5px;left:auto;right:5px;display:block;width:30px;height:23px;background-position:12px -197px;cursor:pointer}*/
/*.flowplayer .fp-unload,.flowplayer .fp-close{background-position:14px -175px;display:none}*/
/*.flowplayer .fp-play{display:none;width:27px;height:20px;background-position:9px -24px;position:absolute;bottom:0;left:0;}*/
/*.play-button.flowplayer .fp-play{display:block}*/
/*.is-paused.flowplayer .fp-play{background-position:9px 7px}*/
/*.flowplayer.is-ready.is-closeable .fp-unload{display:block}*/
/*.flowplayer.is-ready.is-closeable .fp-fullscreen{display:none}*/
/*.flowplayer.is-fullscreen .fp-fullscreen{background-position:10px -217px;display:block !important}*/
/*.flowplayer.is-fullscreen .fp-unload,.flowplayer.is-fullscreen .fp-close{display:none !important}*/
/*.flowplayer .fp-timeline{height:3px;position:relative;overflow:hidden;top:5px;height:10px;margin:0 150px 0 45px;}*/
/*.no-volume.flowplayer .fp-timeline{margin-right:60px}*/
/*.no-mute.flowplayer .fp-timeline{margin-right:45px}*/
/*.play-button.flowplayer .fp-timeline{margin-left:67px}*/
/*.is-long.flowplayer .fp-timeline{margin:0 180px 0 75px;}*/
/*.no-volume.is-long.flowplayer .fp-timeline{margin-right:90px}*/
/*.no-mute.is-long.flowplayer .fp-timeline{margin-right:75px}*/
/*.play-button.is-long.flowplayer .fp-timeline{margin-left:97px}*/
/*.aside-time.flowplayer .fp-timeline,.no-time.flowplayer .fp-timeline{margin:0 110px 0 5px}*/
/*.aside-time.no-volume.flowplayer .fp-timeline,.no-time.no-volume.flowplayer .fp-timeline{margin-right:20px}*/
/*.aside-time.no-mute.flowplayer .fp-timeline,.no-time.no-mute.flowplayer .fp-timeline{margin-right:5px}*/
/*.play-button.no-time.flowplayer .fp-timeline,.play-button.aside-time.flowplayer .fp-timeline{margin-left:27px}*/
/*.flowplayer .fp-buffer,.flowplayer .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}*/
/*.flowplayer .fp-buffer{-webkit-transition:width .25s linear;-moz-transition:width .25s linear;transition:width .25s linear}*/
/*.flowplayer .fp-volume{position:absolute;top:7.5px;right:5px}*/
/*.flowplayer .fp-mute{width:10px;height:15px;float:left;position:relative;top:-5px;left:;cursor:pointer;background-position:-2px -99px;}*/
/*.no-mute.flowplayer .fp-mute{display:none}*/
/*.flowplayer .fp-volumeslider{width:90px;height:5px;cursor:col-resize;float:left;}*/
/*.no-volume.flowplayer .fp-volumeslider{display:none}*/
/*.flowplayer .fp-volumelevel{height:100%}*/
/*.flowplayer .fp-time{text-shadow:0 0 1px #000;font-size:12px;font-weight:bold;color:#fff;width:100%;}*/
/*.flowplayer .fp-time.is-inverted .fp-duration{display:none}*/
/*.flowplayer .fp-time.is-inverted .fp-remaining{display:inline}*/
/*.flowplayer .fp-time em{width:35px;height:10px;line-height:10px;text-align:center;position:absolute;bottom:5px}*/
/*.no-time.flowplayer .fp-time{display:none}*/
/*.is-long.flowplayer .fp-time em{width:65px}*/
/*.flowplayer .fp-elapsed{left:5px;}*/
/*.play-button.flowplayer .fp-elapsed{left:27px}*/
/*.flowplayer .fp-remaining,.flowplayer .fp-duration{right:110px;color:#eee;}*/
/*.no-volume.flowplayer .fp-remaining,.no-volume.flowplayer .fp-duration{right:20px}*/
/*.no-mute.flowplayer .fp-remaining,.no-mute.flowplayer .fp-duration{right:5px}*/
/*.flowplayer .fp-remaining{display:none}*/
/*.flowplayer.color-light .fp-time{color:#222;text-shadow:0 0 1px #fff}*/
/*.flowplayer.color-light .fp-remaining,.flowplayer.color-light .fp-duration{color:#666}*/
/*.flowplayer.aside-time .fp-time{position:absolute;top:5px;left:5px;bottom:auto !important;width:85px;}*/
/*.flowplayer.aside-time .fp-time strong,.flowplayer.aside-time .fp-time em{position:static}*/
/*.flowplayer.aside-time .fp-time .fp-elapsed{margin-right:5px}*/
/*.flowplayer.is-long.aside-time .fp-time{width:130px}*/
/*.flowplayer.is-splash,.flowplayer.is-poster{cursor:pointer;}*/
/*.flowplayer.is-splash .fp-controls,.flowplayer.is-poster .fp-controls,.flowplayer.is-splash .fp-fullscreen,.flowplayer.is-poster .fp-fullscreen,.flowplayer.is-splash .fp-unload,.flowplayer.is-poster .fp-unload,.flowplayer.is-splash .fp-time,.flowplayer.is-poster .fp-time,.flowplayer.is-splash .fp-embed,.flowplayer.is-poster .fp-embed{display:none !important}*/
/*.flowplayer.is-poster .fp-engine{top:-9999em}*/
/*.flowplayer.is-loading .fp-waiting{display:block}*/
/*.flowplayer.is-loading .fp-controls,.flowplayer.is-loading .fp-time{display:none}*/
/*.flowplayer.is-loading .fp-ui{background-position:-9999em}*/
/*.flowplayer.is-seeking .fp-waiting{display:block}*/
/*.flowplayer.is-fullscreen{position:fixed !important;top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;max-width:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333}*/
/*.flowplayer.is-error{border:1px solid #909090;background:#fdfdfd !important;}*/
/*.flowplayer.is-error h2{font-weight:bold;font-size:large;margin-top:10%}*/
/*.flowplayer.is-error .fp-message{display:block}*/
/*.flowplayer.is-error object,.flowplayer.is-error video,.flowplayer.is-error .fp-controls,.flowplayer.is-error .fp-time,.flowplayer.is-error .fp-subtitle{display:none}*/
/*.flowplayer.is-ready.is-muted .fp-mute{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}*/
/*.flowplayer.is-mouseout .fp-controls{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}*/
/*.flowplayer.is-mouseout .fp-timeline{margin:0 !important}*/
/*.flowplayer.is-mouseout .fp-timeline{-webkit-transition:height .15s .3s,top .15s .3s,margin .15s .3s;-moz-transition:height .15s .3s,top .15s .3s,margin .15s .3s;transition:height .15s .3s,top .15s .3s,margin .15s .3s;height:4px;top:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}*/
/*.flowplayer.is-mouseout .fp-fullscreen,.flowplayer.is-mouseout .fp-unload,.flowplayer.is-mouseout .fp-elapsed,.flowplayer.is-mouseout .fp-remaining,.flowplayer.is-mouseout .fp-duration,.flowplayer.is-mouseout .fp-embed,.flowplayer.is-mouseout .fp-logo,.flowplayer.is-mouseout .fp-volume,.flowplayer.is-mouseout .fp-play{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}*/
/*.flowplayer.is-mouseover .fp-controls,.flowplayer.fixed-controls .fp-controls{height:20px}*/
/*.flowplayer.is-mouseover .fp-fullscreen,.flowplayer.fixed-controls .fp-fullscreen,.flowplayer.is-mouseover .fp-unload,.flowplayer.fixed-controls .fp-unload,.flowplayer.is-mouseover .fp-elapsed,.flowplayer.fixed-controls .fp-elapsed,.flowplayer.is-mouseover .fp-remaining,.flowplayer.fixed-controls .fp-remaining,.flowplayer.is-mouseover .fp-duration,.flowplayer.fixed-controls .fp-duration,.flowplayer.is-mouseover .fp-embed,.flowplayer.fixed-controls .fp-embed,.flowplayer.is-mouseover .fp-logo,.flowplayer.fixed-controls .fp-logo,.flowplayer.is-mouseover .fp-volume,.flowplayer.fixed-controls .fp-volume,.flowplayer.is-mouseover .fp-play,.flowplayer.fixed-controls .fp-play{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}*/
/*.flowplayer.fixed-controls .fp-volume{display:block}*/
/*.flowplayer.fixed-controls .fp-controls{bottom:-20px;}*/
/*.is-fullscreen.flowplayer.fixed-controls .fp-controls{bottom:0}*/
/*.flowplayer.fixed-controls .fp-time em{bottom:-15px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}*/
/*.is-fullscreen.flowplayer.fixed-controls .fp-time em{bottom:5px}*/
/*.flowplayer.is-disabled .fp-progress{background-color:#999}*/
/*.flowplayer .fp-embed{position:absolute;top:5px;left:5px;display:block;width:25px;height:20px;background-position:3px -237px}*/
/*.flowplayer .fp-embed-code{position:absolute;display:none;top:10px;left:40px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}*/
/*.flowplayer .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;left:-10px;border:5px solid transparent;border-right-color:#333}*/
/*.flowplayer .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}*/
/*.flowplayer .fp-embed-code label{display:block;color:#999}*/
/*.flowplayer.is-embedding .fp-embed,.flowplayer.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}*/
/*.flowplayer.aside-time .fp-embed{left:85px}*/
/*.flowplayer.aside-time .fp-embed-code{left:115px}*/
/*.flowplayer.aside-time.is-embedding .fp-time{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}*/
/*.flowplayer.is-long.aside-time .fp-embed{left:130px}*/
/*.flowplayer.no-time .fp-embed{left:5px !important}*/
/*@-moz-keyframes pulse{0%{opacity:0}*/
/*100%{opacity:1}*/
/*}@-webkit-keyframes pulse{0%{opacity:0}*/
/*100%{opacity:1}*/
/*}@-o-keyframes pulse{0%{opacity:0}*/
/*100%{opacity:1}*/
/*}@-ms-keyframes pulse{0%{opacity:0}*/
/*100%{opacity:1}*/
/*}@keyframes pulse{0%{opacity:0}*/
/*100%{opacity:1}*/
/*}.flowplayer .fp-controls{background-color:#333;background-color:rgba(51,51,51,0.6)}*/
/*.flowplayer.fixed-controls .fp-controls{background-color:#333}*/
/*.flowplayer .fp-timeline{background-color:#666}*/
/*.flowplayer .fp-buffer{background-color:#eee}*/
/*.flowplayer .fp-progress{background-color:#00a7c8}*/
/*.flowplayer .fp-volumeslider{background-color:#000}*/
/*.flowplayer .fp-volumelevel{background-color:#fff}*/
/*.flowplayer .fp-play{height:24px}*/
/*.flowplayer.color-light .fp-controls{background-color:rgba(255,255,255,0.6)}*/
/*.flowplayer.color-light.fixed-controls .fp-controls{background-color:#fff}*/
/*.flowplayer.color-light .fp-volumeslider{background-color:#ddd}*/
/*.flowplayer.color-light .fp-volumelevel{background-color:#222}*/
/*.flowplayer.color-alt .fp-progress{background-color:#fff}*/
/*.flowplayer.color-alt .fp-buffer{background-color:#999}*/
/*.flowplayer.color-alt2 .fp-progress{background-color:#900}*/

