html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bold}code,kbd,samp{font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}html{color:#000}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{font-family:"Open Sans","Noto Sans CJK TC","Noto Sans CJK SC","Noto Sans CJK JP","Noto Sans CJK KR","Lucida Grande",Tahoma,arial,sans-serif}ul,ol,li{margin:0;padding:0}li{list-style:none}table{border-collapse:separate;border-spacing:0}select{font-family:inherit;font-size:inherit;font-weight:inherit}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Light.eot');                                    /* IE Compat Modes */
src: local('Open Sans Regular'), local('OpenSans-Regular'),
url('/sims/css/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE */
url('/sims/css/opensans/OpenSans-Light.woff') format('woff'),                    /* Modern Browsers */
url('/sims/css/opensans/OpenSans-Light.ttf')  format('truetype');                /* Safari, Android, iOS */
font-style: normal;
font-weight: 300;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Regular.eot');                                    /* IE Compat Modes */
src: local('Open Sans Regular'), local('OpenSans-Regular'),
url('/sims/css/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE */
url('/sims/css/opensans/OpenSans-Regular.woff') format('woff'),                    /* Modern Browsers */
url('/sims/css/opensans/OpenSans-Regular.ttf')  format('truetype');                /* Safari, Android, iOS */
font-style: normal;
font-weight: 400;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Semibold.eot');
src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
url('/sims/css/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
url('/sims/css/opensans/OpenSans-Semibold.woff') format('woff'),
url('/sims/css/opensans/OpenSans-Semibold.ttf')  format('truetype');
font-style: normal;
font-weight: 600;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-Bold.eot');
src: local('Open Sans Bold'), local('OpenSans-Bold'),
url('/sims/css/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
url('/sims/css/opensans/OpenSans-Bold.woff') format('woff'),
url('/sims/css/opensans/OpenSans-Bold.ttf')  format('truetype');
font-style: normal;
font-weight: 700;
}
@font-face {
font-family:'Open Sans';
src: url('/sims/css/opensans/OpenSans-ExtraBold.eot');
src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
url('/sims/css/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('/sims/css/opensans/OpenSans-ExtraBold.woff') format('woff'),
url('/sims/css/opensans/OpenSans-ExtraBold.ttf')  format('truetype');
font-style: normal;
font-weight: 800;
}
footer{
height:1px;border-bottom:1px solid #ccc;
}

.pagebreak { display: block; page-break-before: always; }

@media print {
footer {
page-break-after: always;
height:1px;border-bottom:0;
}
td a {
color:#000000;
}
body {
margin-top:0;
}
tr,td,th {page-break-inside: avoid;}
#configButton, #configList {
  display: none;
}
}
body{
margin:36px;
}
table{
  table-layout:fixed;border-collapse:separate;border:0;
}
.subtableHeader,.subtableTextHeader,.tableHeader,.dataCell,.dataRightCell,.freeCell{
  font-size: 13px;
  line-height: 150%;
}
.dataCell{
padding:2px 6px 0px 6px;/* must have equal left and right padding for text-align:center to center */
}
td{
box-sizing: border-box;
}
.subtableHeader{
  border-bottom:2px solid #888;
  background: #f8f8f8;
  color: #888;
  /*padding:0 12px 0 0; [BugId:08501] */
  padding:2px 6px 0px 6px;/* must have equal left and right padding for text-align:center to center */
  white-space: pre-line;
}
.tableHeader{
text-align:right;color:#888888;background:#F5F5F5;
padding:2px 12px 0px 6px;/* must have equal left and right padding for text-align:center to center */
white-space: pre-line;
}
.defaultBorder {
border-bottom:1px solid #E1E1E1;
}
.dataRightCell{
text-align:right;
}
.freeCell{
position: relative;
}
.freeCellInner{
position:absolute;
}

.approvalTable{
margin:30px 0 0;
clear:both;
padding: 15px 15px 5px;
border:#e0e0e0 1px solid;
font-size:12px;
display:table;
width:350px;
position: relative;
page-break-inside: avoid;
}
.approvalRow{
display:table-row;
height:50px;
line-height:20px;
vertical-align: bottom;
}
.approvalTitle {
  color: #888888;
  position: relative;
  margin: 1px 0;
  display: block;
  right: 2px;
}
.approvalCellBottom {
  width: 100%;
  background-color: #e0e0e0;
  height: 1px;
}
.approvalTableCell {
  display:table-cell;
  vertical-align: bottom;
  padding: 0 10px 0 0;
  min-width:50px;
}
.approvalSignature{
padding-left:3px;
}
.approvalEffectBox{
background: #F8F8F8; /* Browsers without linear-gradient support */
background: linear-gradient( 45deg, transparent 75%, #888 );
bottom: 0;
left: 0;
top: 0;
right: 0;
opacity: 0;
overflow: hidden;
position: absolute;
-webkit-transition: 0.6s 0.2s;
transition: 0.6s 0.2s;
}
.approvalEffectBox:hover {
opacity: 1;
}
.approvalClose{
float: right;
padding: 1em;
font-weight: bold;
font-size: 16px;
cursor:pointer;
z-index: 1;
}
.powerby{float:left;clear:left;margin:50px 0 0 0;font-size:12px;color:#666;}
.powerby a{font-size:12px;color:#666;text-decoration: underline;}

.R_quote {
  border-left: 2px solid #aaa;
  margin: .25em;
  padding: 0 1em;
}

.R_ol, .R_ul {
  margin: 0 1em;
  padding: 0 1em;
}

.R_li {
  display: list-item;
  list-style: inherit;
}

.R_table, #nui_outer td .R_table {
  border-collapse: collapse;
  width: inherit;
}

.R_td, #nui_outer td .R_td {
  min-width: 5em;
  border: 1px solid #999999;
}
a{
text-decoration:none;
color:#07c;
}
td.dfMode {
overflow: hidden;
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
word-break: break-word;
}
td.dfMode img {
max-width: 100%;
height: auto;
}
#configButton {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
#configList {
  padding: 5px 2px;
  border: 1px solid #cccccc;
  background-color: #efefef;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50px;
  font-size: 12px;
  border-radius: 3px;
  z-index:1000;
}
#configList div {
  line-height: 150%;
  margin: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
}
#configList input{
  position: relative;
  top:2px;
  cursor: pointer;
  vertical-align: top;
  margin: 2px 5px 0 0;
}
