.cardForm {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
    padding: 2rem 2rem 1rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #ddd;
}

.resetPwdTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.inputPart {
    font-weight: 700;
    margin: 0 0 .25rem;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
}

.inputPart label {
    font-size: 0.025rem;
}

.btn {
    background: #e70e0e;
    color: #fff;
    transition: all 75ms ease-in-out;
    line-height: 2rem;
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
    border-radius: .25rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 0.8rem;
}

.inputPart input {
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 2rem;
    color: #707070;
}