body,p,div{
font-family:"Lucida Grande",Tahoma,arial,sans-serif;
}
p,div{
font-size:12px;
line-height:150%;
}
p{
margin:0 0 2em;
}
td{
font-size:12px;
}
#top{
height:59px;
width:880px;
font-size:12px;
font-weight:bold;
font-family:verdana;
}
#topdetail{
height:88px;
width:880px;
font-size:12px;
font-weight:bold;
font-family:verdana;
}
#toptop{
float:right;
height:20px;
}
#topleft{
height:89px;
float:left;
}
#top A:link{float:left;color:black}
#top A:visited{float:left;color:black}
#top A:hover{float:left;color:black}
#top A:active{float:left;color:black}
#topdetail A:link{color:black}
#topdetail A:visited{color:black}
#topdetail A:hover{color:black}
#topdetail A:active{color:black}
#redLogo{
margin:50px 20px 0 0;
float:left;
}
#whitebar{
float:left;
margin:50px 0 0 0;
height:30px;
width:680px;
}
#whitebar ul{
height:30px;
}
#whitebar li a{
display:block;
text-indent:-9000px;
overflow:hidden;
height:30px;
}
#whitebar li{
display:inline-block;
float:left;
height:30px;
overflow:hidden;
text-indent:-9999px;
}
.topnav1{width:65px;margin:0 0 0 20px;}
.topnav2{width:95px;margin:0 0 0 5px;}
.topnav3{width:91px;margin:0 0 0 5px;}
.topnav4{width:59px;margin:0 0 0 5px;}
.topnav5{width:62px;margin:0 0 0 5px;}
.topnav6{width:61px;margin:0 0 0 5px;}

.dropTop{
position:absolute;
border:1px solid #333333;
text-align:left;
margin:0 0 0 -6px;
width:135px;
padding:6px 0 6px 0;
background:white;
z-index:99;
}
#dropTop a{
color:black;
}
#dropTop a:hover{
text-decoration:none;
color:#888888;
}
.dropItemTop{
padding:10px 15px 10px 15px;
cursor:pointer;
font-weight:normal;
font-size:12px;
text-align:left;
text-indent:0;
color:black;
}

.whiteDrop{
position:absolute;
background:white;
border:1px solid #333;
padding:12px 0 12px 0;
}
.whiteDropItem{
padding:8px 20px 8px 20px;
cursor:pointer;
font-weight:normal;
font-size:12px;
text-align:left;
text-indent:0;
}




A:link.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}
A:visited.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}
A:active.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}
A:hover.welcomeLink {color: #c02; font-weight:bold; text-decoration:underline;}

h1{
font-size:1.5em;
margin:0.2em 0 0.5em;
padding:0 0 5px;
font-weight:bold;
color:#d80c0c;
border-bottom:1px dotted #CCCCCC;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
}
h2,h2 a{
font-size:1.3em;
margin:1em 0 0.5em;
padding:0 0 3px;
font-weight:bold;
color:#d80c0c;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
}
h2{
border-bottom:1px dotted #CCCCCC;
}

h3{
font-size:1.1em;
margin:0.5em 0 0.5em;
font-weight:bold;
width:100%;
font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
}


div#mw_contentholder, div#mw_contentholder p{
margin-left: 0.5em;
font-family:"Lucida Grande",Tahoma,Arial, sans-serif;
}


A:link.hidden {color:#000;text-decoration:none;}
A:visited.hidden {color:#000;text-decoration:none;}
A:active.hidden {color:#000;text-decoration:none;}
A:hover.hidden {color:#000;text-decoration:none;}
.item{
padding:0 20px 0 0;
}
.itemText{
padding-top:5px;
}


/* OVERRIDING */
.post{
margin:0 0 40px 20px;
}

.editsection a{
font-size:1em
}

.editsection{
color:#5a3696
}

.LanguageLinks{
margin: 0 0 1em
}

