<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Animal Shelter</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="31">
    <form sheetIndex="10001" type="NUI" seq="1">Animals</form>
    <form sheetIndex="10002" type="NUI" seq="2">Foster Care</form>
    <form sheetIndex="10003" type="NUI" seq="3">Volunteers</form>
    <form sheetIndex="10007" type="NUI" seq="6">Animal Surrender</form>
    <form sheetIndex="10008" type="NUI" seq="7">Adoptions</form>
  </forms>
</module>
