<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Job Hunt</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="22">
    <form sheetIndex="10001" type="NUI" seq="1">Applications</form>
    <form sheetIndex="10003" type="NUI" seq="2">Interview Question</form>
  </forms>
</module>

