<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Event Coordination</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="3">
    <form sheetIndex="10001" type="NUI" seq="3">Venues</form>
    <form sheetIndex="10002" type="NUI" seq="1">Events</form>
    <form sheetIndex="10003" type="NUI" seq="6">Registration Form</form>
    <form sheetIndex="10004" type="NUI" seq="7">Registrant Information</form>
    <form sheetIndex="10005" type="NUI" seq="5">Event Equipment Rental Information</form>
    <form sheetIndex="10006" type="NUI" seq="4">Event Budget</form>
    <form sheetIndex="10007" type="NUI" seq="8">Event Income</form>
    <form sheetIndex="10008" type="NUI" seq="2">Events Agenda</form>
  </forms>
</module>

