<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Legal</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="16">
    <form sheetIndex="10001" type="NUI" seq="1">Document Review Requests</form>
    <form sheetIndex="10002" type="NUI" seq="2">Accounts</form>
    <form sheetIndex="10003" type="NUI" seq="3">Account Contracts</form>
    <form sheetIndex="10004" type="NUI" seq="4">Vendors Info</form>
    <form sheetIndex="10005" type="NUI" seq="5">Vendors Contracts</form>
  </forms>
</module>

