<?xml version="1.0"?>
<!--
  Configuration file for your Ragic account.
  The changes will be automatically applied to your account after you click save.
  Please make sure the file you saved is a valid XML file, or it will not work at all.
-->
<config>
  <profile>
    <!--
    Your domain name. By setting your domain name here, and setting your DNS server
    to www.ragic.com. Users accessing your domain name will be redirected to your
    Ragic account URL automatically as if using accessing an URL under your domain.
    -->
    <domainName></domainName>
    <!--
    The url to your logo file. This will be used on the Ragic interface as your logo.
    -->
    <logo></logo>
    <!--
    The time zone of your place. This will be used as your time zone for job schedul
    ing and event reminders.
    -->
    <timeZone>GMT+8</timeZone>
  </profile>
  <!--
  Privilege setting for each of the Ragic Builder functions for your user groups.
  You can specify the groups that you would like them to have access to the below
  modules.
  -->
  <priv>
    <!-- The home tab -->
    <module id="tab_home">
      <group id="EVERYONE"/>
    </module>
    <!-- The reports tab -->
    <module id="tab_reports">
      <group id="EVERYONE"/>
    </module>
    <!-- The notify tab -->
    <module id="tab_notify">
      <group id="EVERYONE"/>
    </module>
    <!-- The data tab -->
    <module id="tab_data">
      <group id="SYSADMIN"/>
    </module>
    <!-- The design tab -->
    <module id="tab_design">
      <group id="SYSADMIN"/>
    </module>
    <!-- The admin tab -->
    <module id="tab_admin">
      <group id="SYSADMIN"/>
    </module>
    <!-- The button for downloading listing as a text file -->
    <module id="func_dllist">
      <group id="SYSADMIN"/>
    </module>
    <!-- The button for downloading listing as an excel file -->
    <module id="func_dlform">
      <group id="EVERYONE"/>
    </module>
    <!-- The button for mass deleting all filtered entries at listing -->
    <module id="func_massdel">
      <group id=""/>
    </module>
    <!-- The button for mass emailing all filtered entries at listing -->
    <module id="func_massemail">
      <group id="SYSADMIN"/>
    </module>
    <!-- The button for mass SMS to all filtered entries at listing (not online yet) -->
    <module id="func_masssms">
      <group id="SYSADMIN"/>
    </module>
  </priv>
</config>