<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>室內設計專案管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="44">
    <form sheetIndex="20001" type="NUI" seq="1">業主資訊</form>
    <form sheetIndex="20002" type="NUI" seq="2">案場資訊</form>
    <form sheetIndex="20003" type="NUI" seq="3">案件資訊</form>
    <form sheetIndex="20004" type="NUI" seq="4">報價單 （內部用 含成本機密）</form>
    <form sheetIndex="20005" type="NUI" seq="5">工程類別</form>
    <form sheetIndex="20006" type="NUI" seq="6">工程類別總價明細（拋轉計算用）</form>
    <form sheetIndex="20007" type="NUI" seq="7">廠商基本資料表</form>
    <form sheetIndex="20008" type="NUI" seq="8">報價單（客戶用）</form>
    <form sheetIndex="20009" type="NUI" seq="9">請款單</form>
    <form sheetIndex="20011" type="NUI" seq="11">報價明細</form>
    <form sheetIndex="20012" type="NUI" seq="12">請款項目明細</form>
  </forms>
</module>
