<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>法務</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="16">
    <form sheetIndex="20001" type="NUI" seq="1">法務文件審查</form>
    <form sheetIndex="20003" type="NUI" seq="3">客戶合約管理</form>
    <form sheetIndex="20004" type="NUI" seq="2">客戶資訊</form>
    <form sheetIndex="20005" type="NUI" seq="4">供應商資訊</form>
    <form sheetIndex="20006" type="NUI" seq="5">供應商合約管理</form>
  </forms>
</module>
