<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>資產管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="36">
    <form sheetIndex="20001" type="NUI" seq="1">股票管理</form>
  </forms>
</module>
