<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Administration</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="2">
    <form sheetIndex="10001" type="NUI" seq="6">Equipment Checkout</form>
    <form sheetIndex="10002" type="NUI" seq="5">Equipment</form>
    <form sheetIndex="10003" type="NUI" seq="2">Bulletin board</form>
    <form sheetIndex="10005" type="NUI" seq="3">Expense Report</form>
    <form sheetIndex="10006" type="NUI" seq="7">Maintenance Request</form>
    <form sheetIndex="10007" type="NUI" seq="4">Asset Management</form>
    <form sheetIndex="10008" type="NUI" seq="9">Office Supplies - Stock</form>
    <form sheetIndex="10009" type="NUI" seq="10">Office Supplies - Request Form</form>
    <form sheetIndex="10010" type="NUI" seq="11">Office Supplies - Purchase Order</form>
    <form sheetIndex="10011" type="NUI" seq="8">Maintenance Assignment</form>
    <form sheetIndex="10012" type="NUI" seq="1">Phone Book</form>
  </forms>
</module>
