<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Pet Store Demo</name>
  <desc />
  <publisher />
  <createDate>2012/06/29</createDate>
  <updateDate>2012/06/29</updateDate>
  <version>1.0</version>
  <price>0</price>
  <delta>0</delta>
  <status>ONLINE</status>
  <sourcePath />
  <appId />
  <forms seq="2">
    <form sheetIndex="1" type="NUI" seq="1">Merchandise</form>
    <form sheetIndex="2" type="NUI" seq="2">Customer</form>
    <form sheetIndex="5" type="NUI" seq="3">Sales</form>
  </forms>
</module>

