<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>訂單管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="11">
    <form sheetIndex="20001" type="NUI" seq="1">銷售訂單</form>
    <form sheetIndex="20002" type="NUI" seq="2">出貨單</form>
    <form sheetIndex="20003" type="NUI" seq="3">郵遞區號</form>
    <form sheetIndex="20004" type="NUI" seq="4">客戶</form>
    <form sheetIndex="20005" type="NUI" seq="5">銷售商品</form>
    <form sheetIndex="20006" type="NUI" seq="6">商品單價管理</form>
    <form sheetIndex="20008" type="NUI" seq="7">銷售細項</form>
  </forms>
</module>
