<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Production Management</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="14">
    <form sheetIndex="10001" type="NUI" seq="1">Assembly</form>
    <form sheetIndex="10002" type="NUI" seq="2">Bills of Materials (BOM)</form>
    <form sheetIndex="10004" type="NUI" seq="3">Product Process Flow</form>
    <form sheetIndex="10005" type="NUI" seq="5">Process Flows</form>
    <form sheetIndex="10006" type="NUI" seq="6">Operations</form>
    <form sheetIndex="10007" type="NUI" seq="7">Materials Requisition</form>
    <form sheetIndex="10008" type="NUI" seq="4">Work Order</form>
    <form sheetIndex="10009" type="NUI" seq="8">Materials Return</form>
    <form sheetIndex="10010" type="NUI" seq="9">Materials of Work Order</form>
  </forms>
</module>
