<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>健康管理</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="32">
    <form sheetIndex="20001" type="NUI" seq="1">學生每月體溫測量</form>
    <form sheetIndex="20002" type="NUI" seq="2">學生每月每日體溫記錄(老師用)</form>
    <form sheetIndex="20003" type="NUI" seq="3">班級導師資訊</form>
    <form sheetIndex="20004" type="NUI" seq="5">員工每日體溫測量</form>
    <form sheetIndex="20005" type="NUI" seq="4">防疫出國旅遊史調查</form>
    <form sheetIndex="20006" type="NUI" seq="7">訪客防疫自我申告書</form>
    <form sheetIndex="20007" type="NUI" seq="6">防疫出國旅遊史調查</form>
    <form sheetIndex="20009" type="NUI" seq="8">員工防疫自主通報</form>
    <form sheetIndex="20010" type="NUI" seq="9">個人健康資料卡</form>
    <form sheetIndex="20011" type="NUI" seq="10">血壓紀錄</form>
    <form sheetIndex="20012" type="NUI" seq="11">血糖紀錄</form>
    <form sheetIndex="20013" type="NUI" seq="12">個人體溫量測</form>
  </forms>
</module>
