html {
    margin:0;
    padding:0;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(to left, #FFC0C2, #FFFFFF) fixed;*/
    font-family: "Open Sans","Noto Sans CJK TC","Noto Sans CJK SC","Noto Sans CJK JP","Noto Sans CJK KR","Lucida Grande",Tahoma,arial,sans-serif;
}
body{
    /*height: 100% !important;*/
    color: #707070 !important;
}
#appDivId, #regDivId {
    position:relative;
    width:460px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 0px 60px 10px 60px;
}
h1, h2, h3{
    color: #525252;
}

#featureMain{
    display: flex;
    box-shadow: 0px 3px 10px 0px #00000047;
}

#registerBanner{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.registerSlogan{
    min-width:302px;
    max-width:400px;
    margin-bottom: 20px;
    color: #333333;
}
.registerSloganHeader{
    font-size:18px;
    line-height:25px;
    margin:8px 0;
    font-weight:900;
}
.registerSloganText {
    font-size: 13px;
    line-height: 22px;
    margin: 0 8px 0 0;
    font-weight:550;
    text-align: right;
}
.register_input_Block{
    display: flex;
    margin: 10px 0 20px 0;
    position: relative;
}
.openid-btn {
    border:2px solid #ddd;
    border-radius:6px;
    line-height:15px;
    cursor:pointer;
    height: 35px;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 700;

}
.openid-btn:hover {
    opacity:0.7;
}

input.register_input{
    width:100%;
    box-sizing: border-box;
    border: none;
    font-size:13px;
    padding:10px 8px;
    border-bottom: 1.5px solid #cbcbcb;
    border-radius: 0;
    outline: none;
    margin-bottom: 3px;
}

input.register_input:focus{
    background-color:  lightgoldenrodyellow;
    border-color: dodgerblue;
}

#accCheck i, #eCheck i{
    font-size: 12px;
}
.registerSuccess > div.regPrompt{
    top:5px;
    right: 0px !important;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3px;
    background-color: #71bb50;
}
.showCheck.registerSuccess > input{
    border-color: #71bb50 !important;
}
.registerError > div.regPrompt{
    top: 0;
    left: 360px;
    position: absolute;
    color: #efefef;
    background-color: #ee5858;
    padding: 3px 12px;
    font-size: 14px;
    border-radius: 3px;
    /*box-shadow: 0px 7px 15px -5px #7b3434;*/
}
.showCheck.registerError > input{
    border-bottom-color: #ee5858;
}
.register_footer{
    display: flex;
    justify-content: space-between;
}
.register_footer div{
    width: 156px;
}
.showCheck > div.regPrompt{
    opacity: 1 !important;
}
div.regPrompt{
    z-index: 999;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: table;
    white-space: nowrap;
    opacity: 0;
}
#registerButton{
    display: flex;
    align-items: center;
    font-weight: 700;
}
a.custom-link{
    color:#6060fc;
    font-weight:700;
    font-size:16px;
    text-decoration:underline;
}

.registered_text{
    font-size: 16px;
    color: #707070;
    line-height: 2em;
}
