<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Ragic系統管理</name>
  <desc />
  <publisher />
  <createDate>2012/08/11</createDate>
  <updateDate>2012/08/11</updateDate>
  <version>1.0</version>
  <price>0</price>
  <delta>0</delta>
  <status>ONLINE</status>
  <sourcePath>/app/system/ragic-setup</sourcePath>
  <appId>AP-00037</appId>
  <forms seq="1">
    <form sheetIndex="1" type="NUI" seq="1">使用者</form>
    <form sheetIndex="2" type="NUI" seq="2">群組</form>
    <form sheetIndex="3" type="NUI" seq="3">功能權限設定</form>
    <form sheetIndex="4" type="NUI" seq="4">公司設定</form>
    <form sheetIndex="5" type="NUI" seq="5">外部使用者</form>
    <form sheetIndex="6" type="NUI" seq="6">外部使用者註冊</form>
    <form sheetIndex="7" type="NUI" seq="7">全域常數</form>
    <form sheetIndex="9" type="NUI" seq="8">公司設定</form>
    <form sheetIndex="10" type="NUI" seq="9">使用者變更申請</form>
  </forms>
</module>
