<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Inventory Management</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="12">
    <form sheetIndex="10001" type="NUI" seq="1">Locations</form>
    <form sheetIndex="10002" type="NUI" seq="2">Inventory</form>
    <form sheetIndex="10003" type="NUI" seq="3">Location Balance</form>
    <form sheetIndex="10004" type="NUI" seq="5">Incoming Stock</form>
    <form sheetIndex="10005" type="NUI" seq="4">Outgoing Stock</form>
    <form sheetIndex="10006" type="NUI" seq="6">Inventory Transfer</form>
  </forms>
</module>
