<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Sales</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="7">
    <form sheetIndex="10001" type="NUI" seq="1">Accounts</form>
    <form sheetIndex="10002" type="NUI" seq="2">Contacts</form>
    <form sheetIndex="10003" type="NUI" seq="3">Leads</form>
    <form sheetIndex="10004" type="NUI" seq="4">Opportunities</form>
    <form sheetIndex="10005" type="NUI" seq="5">Products (CRM)</form>
    <form sheetIndex="10006" type="NUI" seq="7">Quotes</form>
    <form sheetIndex="10007" type="NUI" seq="8">Activities</form>
    <form sheetIndex="10008" type="NUI" seq="9">Contracts</form>
    <form sheetIndex="10009" type="NUI" seq="6">Pricelist</form>
  </forms>
</module>
