<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Ragic Server Management</name>
  <desc>Ragic Server Management</desc>
  <publisher>Ragic</publisher>
  <createDate>2011/07/11</createDate>
  <updateDate>2011/07/11</updateDate>
  <version>1.2</version>
  <price>0</price>
  <status>ONLINE</status>
  <defaultPath>/adm</defaultPath>
  <forms seq="1">
    <form sheetIndex="1" type="NUI" seq="1">Account Monitor</form>
    <form sheetIndex="2" type="NUI" seq="4">User Monitor</form>
    <form sheetIndex="3" type="NUI" seq="2">DB Monitor</form>
    <form sheetIndex="6" type="NUI" seq="6">Follow Up</form>
  </forms>
</module>
