<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>Purchasing</name>
  <desc />
  <publisher />
  <createDate />
  <updateDate />
  <version />
  <price />
  <status />
  <sourcePath />
  <appId />
  <forms seq="13">
    <form sheetIndex="10001" type="NUI" seq="1">Vendors</form>
    <form sheetIndex="10002" type="NUI" seq="2">Products (PO)</form>
    <form sheetIndex="10003" type="NUI" seq="3">Product Purchasing Price List</form>
    <form sheetIndex="10004" type="NUI" seq="4">Purchase Requisition</form>
    <form sheetIndex="10005" type="NUI" seq="5">Purchase Order</form>
    <form sheetIndex="10006" type="NUI" seq="6">Purchase items</form>
    <form sheetIndex="10008" type="NUI" seq="7">PO Receipt</form>
    <form sheetIndex="10009" type="NUI" seq="8">Incoming Quality Control</form>
  </forms>
</module>
